<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--Header
============================================= -->
<th:block th:replace="fragments/fragment_head('Mes associations')" />

<body>

<!-- Loader ============================================= -->
<th:block th:replace="fragments/fragment_loader" />

<div id="app">

    <div class="main-wrapper main-wrapper-1">

        <!-- Navbar ============================================= -->
        <th:block th:replace="fragments/fragment_navbar" />

        <!-- Sidebar ============================================= -->
        <th:block th:replace="fragments/fragment_sidebar" />


        <!-- Main Content ============================================= -->
        <div class="main-content">

            <section class="section">

                <div class="section-body">

                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h4 th:text="#{profile_my_associations}"></h4>
                                </div>
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped" id="table-1">
                                            <thead>
                                            <tr>
                                                <th th:text="#{association_list_page_table_header_name}"></th>
                                                <th th:text="#{association_list_page_table_header_acronym}"></th>
                                                <th th:text="#{profile_association_title}"></th>
                                                <th th:text="#{profile_association_status}"></th>
                                                <th th:text="#{association_list_page_table_header_Action}"></th>
                                            </tr>
                                            </thead>

                                            <tbody>
                                            <tr th:each="association : ${associations}">

                                                <td th:text="${association.association.name}"></td>
                                                <td class="align-middle" th:text="${association.association.acronym}"></td>
                                                <td class="align-middle" th:text="${association.role}"></td>
                                                <td class="align-middle" th:if="${association.association.state==0}">
                                                    <div class="badge badge-success" th:text="#{statut_activated}"></div>
                                                </td>
                                                <td class="align-middle" th:if="${association.association.state==1}">
                                                    <div class="badge badge-danger" th:text="#{statut_desactivated}"></div>
                                                </td>

                                                <td class="text-center">
                                                    <a th:href="@{/backend/association/detail_association/__${association.association.id}__}" class="btn btn-primary" th:text="#{association_list_page_table_header_action_detail}"></a>
                                                </td>

                                            </tr>
                                            </tbody>

                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </section>

        </div>

        <!-- Footer ============================================= -->
        <th:block th:replace="fragments/fragment_footer" />

    </div>

</div>

<!-- Scripts ============================================= -->
<script>
    $(document).ready(function () {
        $('#association').attr('class', 'active');
        $('#association-list').attr('class', 'active');
    });
</script>

</body>

</html>