@charset "UTF-8";
/* CSS Document */

/*--------- Custom style --------*/

	/*----- Home page -----*/

#HomePage {}

	/*----- Contact Page -----*/

#ContactPage {}

	/*----- Register Page -----*/

#RegisterPage {}
#RegisterPage > .personal-nav-wrapper {
	z-index: 8;
	width: 100vw;
	position: fixed;
	top: 0;
}
#RegisterPage > .personal-nav-wrapper > .navigation {
	background: rgba(0,0,0,0.9);
}
#RegisterPage > .main-container {
	margin-top: 170px;
}