<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--Header
============================================= -->
<th:block th:replace="fragments/fragment_head('Add tontine')" />

<!--<body onload="ChangeLanguage()">-->
<body>

<!-- Loader ============================================= -->
<th:block th:replace="fragments/fragment_loader" />

<div id="app">

    <div class="main-wrapper main-wrapper-1">

        <!-- Navbar ============================================= -->
        <th:block th:replace="fragments/fragment_navbar" />

        <!-- Sidebar ============================================= -->
        <th:block th:replace="fragments/fragment_sidebar" />


        <!-- Main Content ============================================= -->
        <div class="main-content">

            <section class="section">

                <div class="section-body">

                    <div class="row">

                        <div class="col-12 col-md-12 col-lg-12">

                            <div class="card">

                                <div class="card-header">
                                    <h3>
                                        <span th:text="#{association_tontine_create_page}"></span>
                                    </h3>
                                </div>

                                <form method="post" th:action="@{/backend/association/__${association.id}__/tontines/create}">

                                    <div class="card-body">
                                        <input type="hidden" value="-1" name="id">

                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label>
                                                    <span th:text="#{association_tontine_create_page_label_name}"></span>
                                                </label>
                                                <input required type="text" class="form-control" name="name" th:placeholder="#{association_tontine_create_page_label_name}">
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label th:text="#{association_tontine_create_page_label_type}"></label>
                                                <select class="form-control select2" name="type" >
                                                    <option th:value="'OPENED'" th:text="#{association_tontine_create_page_label_type_open}"></option>
                                                    <option th:value="'CLOSED'" th:text="#{association_tontine_create_page_label_type_close}"></option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label>
                                                    <span th:text="#{association_tontine_create_page_label_participant}"></span>
                                                </label>
                                                <input required type="number" class="form-control number" name="numberOfParticipant" placeholder="00">
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label>
                                                    <span th:text="#{association_tontine_create_page_label_contribution}"></span>
                                                </label>
                                                <input required type="number" class="form-control number" name="contributionAmount" placeholder="0.0">
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label>
                                                    <span th:text="#{association_tontine_create_page_label_start_date}"></span>
                                                </label>
                                                <input required type="text" class="form-control datepicker" name="startDate">
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label>
                                                    <span th:text="#{association_tontine_create_page_label_end_date}"></span>
                                                </label>
                                                <input required type="text" class="form-control datepicker" name="endDate">
                                            </div>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label th:text="#{association_tontine_create_page_label_periodicity}"></label>
                                                <select class="form-control select2" name="periodicity" >
                                                    <option th:value="'WEEKLY'" th:text="#{association_tontine_create_page_label_periodicity_weekly}"></option>
                                                    <option th:value="'MONTHLY'" th:text="#{association_tontine_create_page_label_periodicity_monthly}"></option>
                                                    <option th:value="'ANNUAL'" th:text="#{association_tontine_create_page_label_periodicity_annual}"></option>
                                                </select>
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label>
                                                    <span th:text="#{association_tontine_create_page_label_membership_deadline}"></span>
                                                </label>
                                                <input required type="text" class="form-control datepicker" name="membershipDeadline">
                                            </div>
                                        </div>

                                    </div>

                                    <div class="card-footer">
                                        <button class="btn btn-primary">
                                            <span th:text="#{association_add_page_button_save}"></span>
                                        </button>
                                    </div>

                                </form>

                            </div>
                        </div>

                    </div>

                </div>

            </section>

        </div>

        <!-- Footer ============================================= -->
        <th:block th:replace="fragments/fragment_footer" />

    </div>

</div>

<!-- Scripts ============================================= -->
<script>
    $(document).ready(function () {
        $('#tontine').attr('class', 'active');
        $('#tontine-add').attr('class', 'active');
    });
</script>

</body>

</html>