<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

  <!--Header
  ============================================= -->
  <th:block th:replace="fragments/fragment_head('Add member')" />

  <body>

    <!-- Loader ============================================= -->
    <th:block th:replace="fragments/fragment_loader" />

    <div id="app">

      <div class="main-wrapper main-wrapper-1">

        <!-- Navbar ============================================= -->
        <th:block th:replace="fragments/fragment_navbar" />

        <!-- Sidebar ============================================= -->
        <th:block th:replace="fragments/fragment_sidebar" />


        <!-- Main Content ============================================= -->
        <div class="main-content">

          <section class="section">

            <div class="row">
              <div class="col-lg-12">

                <div class="card">

                  <div class="card-body">
                    <form th:action="@{/backend/association/__${association.id}__/tontines/__${tontine.id}__/addMember}" method="post">

                      <div class="row">
                        <div class="offset-1"></div>

                        <div class="col-lg-8">
                          <label th:text="#{association_member_list_page_search_by}"></label>
                          <select class="form-control select2" name="id" >
                            <option th:each="member :${associationMembers}" th:text="${member.user.firstname} ${member.user.lasttname}" th:value="${member.user.id}"></option>
                          </select>
                        </div>

                        <div class="col-lg-4">
                          <button type="submit"  class="btn btn-primary " style="margin-top: 31px" th:text="#{association_member_list_page_search_button}"></button>


                          <a class="btn btn-primary btn-action mr-1" th:title="#{association_member_list_page_result_action_desc}"
                             type="button" data-toggle="modal" data-target="#changeStatusModal"
                             th:data-entity="${stringHelper.clean(userSearch.toJSON())}"
                             onclick="onUpdate(this.getAttribute('data-entity'));">
                            <i class="fas fa-plus"></i>
                          </a>
                        </div>
                      </div>
                    </form>

                  </div>
                </div>

              </div>
            </div>


          </section>

          <!-- Vertically Center -->
          <div class="modal fade" id="changeStatusModal" tabindex="-1" role="dialog"
               aria-labelledby="changeStatusModalTitle" aria-hidden="true">

            <div th:insert="fragments/modal/fragment_add_modal ::
                                           fragment_add_modal(title='Add user in association',
                                           methodUrl='/backend/association/'+__${association.id}__+'/tontines/'+__${tontine.id}__+'/addMember',
                                           body = ~{ :: #modal_body})">

              <div class="modal-body" id="modal_body">
                <p th:text="#{association_member_list_page_result_action_modal}"></p>
              </div>

            </div>

          </div>

        </div>

      </div>

      <!-- Footer ============================================= -->
      <th:block th:replace="fragments/fragment_footer" />

    </div>

    </div>

    <!-- Scripts ============================================= -->
    <script>
      $(document).ready(function () {
        $('#association').attr('class', 'active');
      });
    </script>


    <script type="application/javascript">
      function onUpdate(json) {
        var tontineS = jQuery.parseJSON(json.replace("'", "\\'"));
        $('.model-id').val(tontineS.id);
      }
    </script>
  </body>

</html>