<!DOCTYPE html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org">

    <!--Header
    ============================================= -->
    <th:block th:replace="fragments/fragment_head('Home')" />

    <body>

        <!-- Loader ============================================= -->
        <th:block th:replace="fragments/fragment_loader" />

        <div id="app">

            <div class="main-wrapper main-wrapper-1">

                <!-- Navbar ============================================= -->
                <th:block th:replace="fragments/fragment_navbar" />

                <!-- Sidebar ============================================= -->
                <th:block th:replace="fragments/fragment_sidebar" />


                <!-- Main Content ============================================= -->
                <div class="main-content">

                    <section class="section">

                        <div class="section-body">

                            <div class="row">
                                <div class="col-lg-12">

                                    <div class="card">
                                        <div class="card-header">
                                            <h4 th:text="#{association_tontine_list_page_table_name}"></h4>
                                        </div>
                                        <div class="card-body">

                                            <div class="col-lg-8">
                                                <a th:href="@{/backend/association/__${association.id}__/tontines/create}"
                                                   class="btn btn-primary"
                                                   th:text="#{association_tontine_create_page}"></a>
                                            </div>
                                            <br><br>

                                            <div class="table-responsive">
                                                <table class="table table-striped" id="table-1">
                                                    <thead>
                                                    <tr>
                                                        <th th:text="#{association_member_list_page_result_name}"></th>
                                                        <th th:text="#{association_tontine_list_page_table_type}"></th>
                                                        <th th:text="#{association_tontine_list_page_table_participant}"></th>
                                                        <th th:text="#{association_tontine_list_page_table_startDate}"></th>
                                                        <th th:text="#{association_tontine_list_page_table_endDate}"></th>
                                                        <th th:text="#{association_member_list_page_result_action}"></th>
                                                    </tr>
                                                    </thead>

                                                    <tbody>
                                                        <tr th:each="tontine : ${association_tontines}">

                                                            <td th:text="${tontine.name}"></td>

                                                            <td class="align-middle" th:text="${tontine.type}"></td>

                                                            <td class="align-middle" th:text="${tontine.numberOfParticipant}"></td>

                                                            <td th:text="${#dates.format(tontine.startDate, 'dd-MM-yyyy')}"></td>

                                                            <td th:text="${#dates.format(tontine.endDate, 'dd-MM-yyyy')}"></td>

                                                            <td class="text-center">
                                                                <a th:if="${connectedUser == 'actuator' || connectedUser == 'PDG'}" th:href="@{/backend/association/__${association.id}__/tontines/__${tontine.id}__}"
                                                                   class="btn btn-primary" th:text="#{association_list_page_table_header_action_detail}"></a>

                                                                <a th:href="@{/backend/association/__${association.id}__/tontines/__${tontine.id}__/addMember}"
                                                                   class="btn btn-primary" th:text="#{association_list_page_table_header_action_join}"></a>
                                                            </td>

                                                        </tr>
                                                    </tbody>

                                                </table>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>

                    </section>

                </div>

                <!-- Footer ============================================= -->
                <th:block th:replace="fragments/fragment_footer" />

            </div>

        </div>

    </body>

</html>