<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--Header
============================================= -->
<th:block th:replace="fragments/fragment_head('Home')"/>

<body>

<!-- Loader ============================================= -->
<th:block th:replace="fragments/fragment_loader"/>

<div id="app">

    <div class="main-wrapper main-wrapper-1">

        <!-- Navbar ============================================= -->
        <th:block th:replace="fragments/fragment_navbar"/>

        <!-- Sidebar ============================================= -->
        <th:block th:replace="fragments/fragment_sidebar"/>


        <!-- Main Content ============================================= -->
        <div class="main-content">

            <section class="section">
                <div class="section-body">
                    <div class="row mt-sm-4">
                        <div class="col-12 col-md-12 col-lg-4">
                            <div class="card author-box">
                                <div class="card-body">
                                    <div class="author-box-center">
                                        <img alt="image" th:if="${userData.photo ==''}"
                                             th:src="${'/'+rootLocation+'/members/user_a.png'}"
                                             class="rounded-circle author-box-picture" th:height="80px" th:width="100px">
                                        <img alt="image" th:if="${userData.photo !=''}"
                                             th:src="${'/'+rootLocation+'/members/'+userData.photo}"
                                             class="rounded-circle author-box-picture" th:height="80px" th:width="100px">
                                        <div class="clearfix">
                                        <div class="author-box-name">
                                            <a href="#" th:text="${userData.username}"></a>
                                        </div>
                                        <div class="author-box-job"></div>
                                    </div>

                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <h4 th:text="#{personal_Details}"></h4>
                                </div>
                                <div class="card-body">
                                    <div class="py-4">
                                        <p class="clearfix">
                                            <span class="float-left" th:text="#{member_lastname}">

                                            </span>
                                            <span class="float-right text-muted" th:text="${userData.lastname}">

                                            </span>
                                        </p>
                                        <p class="clearfix">
                                            <span class="float-left" th:text="#{member_firstname}">

                                            </span>
                                            <span class="float-right text-muted" th:text="${userData.firstname}">

                                            </span>
                                        </p>
                                        <p class="clearfix">
                                            <span class="float-left" th:text="#{profile_birthday}">

                                            </span>
                                            <span class="float-right text-muted" th:text="${#calendars.format(userData.birthday, 'dd-MM-yyyy')}">

                                            </span>
                                        </p>
                                        <p class="clearfix">
                                            <span class="float-left" th:text="#{profile_phone}">

                                            </span>
                                            <span class="float-right text-muted" th:text="${userData.contact.mobile}">

                                            </span>
                                        </p>
                                        <p class="clearfix">
                                            <span class="float-left" th:text="#{profile_mail}">

                                            </span>
                                            <span class="float-right text-muted">
                                              <a href="#" th:text="${userData.contact.email}"></a>
                                            </span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            </div>

                        </div>
                        <div class="col-12 col-md-12 col-lg-8">
                            <div class="card">
                                <div class="padding-20">
                                    <ul class="nav nav-tabs" id="myTab2" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="home-tab2" data-toggle="tab" href="#about"
                                               role="tab" aria-selected="true" th:text="#{profile_my_associations}"></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="profile-tab2" data-toggle="tab" href="#settings"
                                               role="tab" aria-selected="false" th:text="#{profile_my_tontines}"></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="profile-tab4" data-toggle="tab" href="#transac"
                                               role="tab" aria-selected="false" th:text="#{profile_my_transactions}"></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="profile-tab3" data-toggle="tab" href="#updateInfo"
                                               role="tab" aria-selected="false" th:text="#{profile_update_info}"></a>
                                        </li>
                                    </ul>
                                    <div class="tab-content tab-bordered" id="myTab3Content">
                                        <div class="tab-pane fade show active" id="about" role="tabpanel"
                                             aria-labelledby="home-tab2">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="card">
                                                        <div class="card-header">
                                                            <h4 th:text="#{association_list_page_table_name}"></h4>
                                                        </div>
                                                        <div class="card-body">
                                                            <div class="table-responsive">
                                                                <table class="table table-striped" id="table-1">
                                                                    <thead>
                                                                    <tr>
                                                                        <th class="text-center">#</th>
                                                                        <th th:text="#{profile_association_name}"></th>
                                                                        <th th:text="#{profile_association_title}"></th>
                                                                        <th th:text="#{profile_association_status}"></th>
                                                                        <th th:text="#{association_list_page_table_header_Action}"></th>
                                                                    </tr>
                                                                    </thead>

                                                                    <tbody>
                                                                    <!--<tr th:each="association : ${allMyAssociations}">

                                                                        <td th:text="${association.id}"></td>

                                                                        <td th:text="${association.association.name}"></td>

                                                                        <td class="align-middle" th:text="${association.role}"></td>

                                                                        <td class="text-center" th:if="${association.state==0}"><div class="badge badge-success badge-shadow" th:text="#{statut_activated}">Completed</div></td>
                                                                        <td class="text-center" th:if="${association.state==1}"><div class="badge badge-success badge-shadow" th:text="#{statut_activated}">Completed</div></td>

                                                                        <td class="text-center">
                                                                            <div class="badge badge-success badge-shadow">Completed</div>
                                                                        </td>

                                                                        <td class="text-center"><a href="#" class="btn btn-primary">Detail</a></td>

                                                                    </tr>-->
                                                                    </tbody>

                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="tab-pane fade" id="settings" role="tabpanel"
                                             aria-labelledby="profile-tab2">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="card">
                                                        <div class="card-header">
                                                            <h4 th:text="#{sidebar_tontine_list}"></h4>
                                                        </div>
                                                        <div class="card-body">
                                                            <div class="table-responsive">
                                                                <table class="table table-striped" id="table-1">
                                                                    <thead>
                                                                    <tr>
                                                                        <th class="text-center">#</th>
                                                                        <th th:text="#{profile_tontine_name}"></th>
                                                                        <th th:text="#{profile_tontine_association}"></th>
                                                                        <th th:text="#{profile_tontine_status}"></th>
                                                                        <th th:text="#{association_list_page_table_header_Action}"></th>
                                                                    </tr>
                                                                    </thead>

                                                                    <tbody>
                                                                    <!--<tr th:each="association : ${allMyAssociations}">

                                                                        <td th:text="${association.id}"></td>

                                                                        <td th:text="${association.association.name}"></td>

                                                                        <td class="align-middle" th:text="${association.role}"></td>

                                                                        <td class="text-center" th:if="${association.state==0}"><div class="badge badge-success badge-shadow" th:text="#{statut_activated}">Completed</div></td>
                                                                        <td class="text-center" th:if="${association.state==1}"><div class="badge badge-success badge-shadow" th:text="#{statut_activated}">Completed</div></td>

                                                                        <td class="text-center">
                                                                            <div class="badge badge-success badge-shadow">Completed</div>
                                                                        </td>

                                                                        <td class="text-center"><a href="#" class="btn btn-primary">Detail</a></td>

                                                                    </tr>-->
                                                                    </tbody>

                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="transac" role="tabpanel"
                                             aria-labelledby="profile-tab4">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="card">
                                                        <div class="card-header">
                                                            <h4 th:text="#{sidebar_transactions_list}"></h4>
                                                        </div>
                                                        <div class="card-body">
                                                            <div class="table-responsive">
                                                                <table class="table table-striped" id="table-1">
                                                                    <thead>
                                                                    <tr>
                                                                        <th class="text-center">#</th>
                                                                        <th th:text="#{table_transaction_amount}"></th>
                                                                        <th th:text="#{table_transaction_operation}"></th>
                                                                    </tr>
                                                                    </thead>

                                                                    <tbody>
                                                                    <!--<tr th:each="association : ${allMyAssociations}">

                                                                        <td th:text="${association.id}"></td>

                                                                        <td th:text="${association.association.name}"></td>

                                                                        <td th:text="${association.association.name}"></td>

                                                                    </tr>-->
                                                                    </tbody>

                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane fade" id="updateInfo" role="tabpanel"
                                             aria-labelledby="profile-tab3">
                                            <form method="POST" th:action="@{/backend/profile/updateInfos}" enctype="multipart/form-data">
                                                <div class="row">
                                                    <div class="form-group col-6">
                                                        <label for="lastname" th:text="#{member_lastname}"></label>
                                                        <input id="lastname" type="text" class="form-control" th:value="${userData.lastname}" name="lastname">
                                                    </div>
                                                    <div class="form-group col-6">
                                                        <label for="firstname" th:text="#{member_firstname}"></label>
                                                        <input id="firstname" type="text" class="form-control" name="firstname" th:value="${userData.firstname}" autofocus>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group col-6">
                                                        <label th:text="#{member_pictures}"></label>
                                                        <input id="photo" name="photo" type="file" th:value="${userData.photo}" class="form-control">
                                                    </div>
                                                    <div class="form-group col-6">
                                                        <label for="dateNaissance" th:text="#{member_birthday}"></label>
                                                        <input id="dateNaissance" type="date" class="form-control" th:value="${#dates.format(userData.birthday, 'yyyy-MM-dd')}" name="dateNaissance">
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <button type="submit" class="btn btn-primary btn-lg btn-block" th:text="#{profile_validate}">

                                                    </button>
                                                </div>
                                            </form>
                                            <br>
                                            <br>
                                            <form method="POST" th:action="@{/backend/profile/updateTelEmail}" enctype="multipart/form-data">
                                                <h5 th:text="#{profile_change_email}"></h5>
                                                <div class="row">
                                                    <div class="form-group col-4">
                                                        <label for="username" th:text="#{member_username}"></label>
                                                        <input id="username" type="text" class="form-control" th:value="${userData.username}" name="username" disabled autofocus>
                                                    </div>
                                                    <div class="form-group col-6">
                                                        <label for="tel" th:text="#{member_phone}"></label>
                                                        <input id="tel" type="text" class="form-control" th:value="${userData.contact.mobile}" name="tel">
                                                    </div>
                                                    <div class="form-group col-12">
                                                        <label for="email" th:text="#{member_email}"></label>
                                                        <input id="email" type="email" class="form-control" th:value="${userData.contact.email}" name="email">
                                                        <div class="invalid-feedback">
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="form-group">
                                                    <button type="submit" class="btn btn-primary btn-lg btn-block" th:text="#{profile_change_email}">

                                                    </button>
                                                </div>
                                            </form>
                                            <br>
                                            <br>
                                            <form method="POST" th:action="@{/backend/profile/updatePassword}" enctype="multipart/form-data">
                                                <h5 th:text="#{profile_change_password}"></h5>
                                                <div class="row">
                                                    <input id="id" type="hidden" th:value="${userData.id}" class="form-control" name="id">
                                                    <div class="form-group col-6">
                                                        <label for="oldPwd" class="d-block" th:text="#{member_old_password}"></label>
                                                        <input id="oldPwd" type="password" class="form-control" name="oldPwd">
                                                    </div>

                                                    <div class="form-group col-6">
                                                        <label for="pwd" class="d-block" th:text="#{member_password}"></label>
                                                        <input id="pwd" type="password" class="form-control pwstrength" data-indicator="pwindicator"
                                                               name="pwd">
                                                        <div id="pwindicator" class="pwindicator">
                                                            <div class="bar"></div>
                                                            <div class="label"></div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group col-6">
                                                        <label for="pwd2" class="d-block" th:text="#{member_password_confirm}"></label>
                                                        <input id="pwd2" type="password" class="form-control" name="pwd2">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <button type="submit" class="btn btn-primary btn-lg btn-block" th:text="#{profile_change_password}">

                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>

        <!-- Footer ============================================= -->
        <th:block th:replace="fragments/fragment_footer"/>

    </div>

</div>

<!-- Scripts ============================================= -->
<script>
    $(document).ready(function () {
        $('#association').attr('class', 'active');
        $('#association-list').attr('class', 'active');
    });
</script>

</body>

</html>