<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <!--Header
    ============================================= -->
    <th:block th:replace="fragments/fragment_head('Association members')"/>

    <body>

        <!-- Loader ============================================= -->
        <th:block th:replace="fragments/fragment_loader"/>

        <div id="app">

            <div class="main-wrapper main-wrapper-1">

                <!-- Navbar ============================================= -->
                <th:block th:replace="fragments/fragment_navbar"/>

                <!-- Sidebar ============================================= -->
                <th:block th:replace="fragments/fragment_sidebar"/>


                <!-- Main Content ============================================= -->
                <div class="main-content">

                    <section class="section">

                        <div class="row">
                            <div class="col-lg-12">

                                <div class="card">
                                    <div class="card-header">
                                        <h4 th:text="#{association_list_page_table_name}"></h4>
                                    </div>
                                    <div class="card-body">

                                        <div class="col-lg-8">
                                            <a th:href="@{/backend/association/__${association.id}__/members/add}"
                                               class="btn btn-primary"
                                               th:text="#{association_list_page_add_member}"></a>
                                        </div>
                                        <br><br>

                                        <div class="table-responsive">
                                            <table class="table table-striped" id="table-1">
                                                <thead>
                                                <tr>
                                                    <th th:text="#{association_member_list_page_result_name}"></th>
                                                    <th th:text="#{association_member_list_page_result_email}"></th>
                                                    <th th:text="#{association_member_list_page_result_phone}"></th>
                                                    <th th:text="#{association_member_list_page_result_role}"></th>
                                                    <th th:text="#{association_member_list_page_result_action}"></th>
                                                </tr>
                                                </thead>

                                                <tbody>
                                                <tr th:each="association_member : ${association_members}">

                                                    <td th:text="${association_member.user.firstname}"></td>

                                                    <td class="align-middle"
                                                        th:text="${association_member.user.contact.email}"></td>

                                                    <td class="align-middle"
                                                        th:text="${association_member.user.contact.mobile}"></td>

                                                    <td th:text="${association_member.role}"></td>

                                                    

                                                </tr>
                                                </tbody>

                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>


                    </section>

                </div>

                <!-- Footer ============================================= -->
                <th:block th:replace="fragments/fragment_footer"/>

            </div>

        </div>

        <!-- BEGIN PAGE LEVEL JS-->
        <script>
            $(document).ready(function () {
                $('#association').attr('class', 'active');
            });
        </script>
        <!-- END PAGE LEVEL JS-->

    </body>

</html>