<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <!--Header
    ============================================= -->
    <th:block th:replace="fragments/fragment_head('Association members')"/>

    <body>

        <!-- Loader ============================================= -->
        <th:block th:replace="fragments/fragment_loader"/>

        <div id="app">

            <div class="main-wrapper main-wrapper-1">

                <!-- Navbar ============================================= -->
                <th:block th:replace="fragments/fragment_navbar"/>

                <!-- Sidebar ============================================= -->
                <th:block th:replace="fragments/fragment_sidebar"/>


                <!-- Main Content ============================================= -->
                <div class="main-content">

                    <section class="section">

                        <div class="row">
                            <div class="col-lg-12">

                                <div class="card">
                                    <div class="card-header">
                                        <h4 th:text="#{association_list_page_table_name}"></h4>
                                    </div>
                                    <div class="card-body">

                                        <div class="col-lg-8" th:if="${connectedUser == 'actuator' || connectedUser == 'PDG'}">
                                            <a th:href="@{/backend/association/__${association.id}__/members/add}"
                                               class="btn btn-primary"
                                               th:text="#{association_list_page_add_member}"></a>
                                        </div>
                                        <br><br>

                                        <div class="table-responsive">
                                            <table class="table table-striped" id="table-1">
                                                <thead>
                                                <tr>
                                                    <th th:text="#{association_member_list_page_result_name}"></th>
                                                    <th th:text="#{association_member_list_page_result_email}"></th>
                                                    <th th:text="#{association_member_list_page_result_phone}"></th>
                                                    <th th:text="#{association_member_list_page_result_role}"></th>
                                                    <th th:text="#{association_member_list_page_result_action}"
                                                        th:if="${connectedUser == 'actuator' || connectedUser == 'PDG'}"></th>
                                                </tr>
                                                </thead>

                                                <tbody>
                                                    <tr th:each="association_member : ${association_members}">

                                                        <td th:text="${association_member.user.firstname}"></td>

                                                        <td class="align-middle"
                                                            th:text="${association_member.user.contact.email}"></td>

                                                        <td class="align-middle"
                                                            th:text="${association_member.user.contact.mobile}"></td>

                                                        <td th:text="${association_member.role}"></td>

                                                        <td th:if="${connectedUser == 'actuator' || connectedUser == 'PDG'}">
                                                            <a class="btn btn-warning btn-action mr-1" title="" th:data-original-title="#{table_update}" data-toggle="modal" data-target="#changeStatusModal"
                                                               th:data-entity="${stringHelper.clean(association_member.user.toJSON())}"
                                                               onclick="onUpdate(this.getAttribute('data-entity'));">
                                                                <i class="fas fa-pencil-alt"></i>
                                                            </a>
                                                            <a class="btn btn-primary btn-action mr-1" title="" th:data-original-title="#{table_contribute}" data-toggle="modal" data-target="#cotisationModal"
                                                               th:data-entity="${stringHelper.clean(association_member.user.toJSON())}"
                                                               onclick="onUpdate(this.getAttribute('data-entity'));">
                                                                <i class="fas fa-money-bill-wave-alt"></i>
                                                            </a>
                                                            <a class="btn btn-danger btn-action mr-1" title="" th:data-original-title="#{table_delete}">
                                                                <i class="fas fa-trash"></i>
                                                            </a>
                                                        </td>

                                                    </tr>
                                                </tbody>

                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>


                    </section>

                    <!-- Vertically Center -->
                    <div class="modal fade" id="changeStatusModal" tabindex="-1" role="dialog"
                         aria-labelledby="changeStatusModalTitle" aria-hidden="true">

                        <div th:insert="fragments/modal/fragment_add_modal ::
                                       fragment_add_modal(title='Change role in association',
                                       methodUrl='/backend/association/'+__${association.id}__+'/members',
                                       body = ~{ :: #modal_body1})">

                            <div class="modal-body" id="modal_body1">
                                <div class="row">
                                    <div class="col-lg-4">
                                        <label>
                                            <span th:text="#{member_lastname}"></span>
                                        </label>
                                        <input type="text" class=" form-control user_lastname" id="user_lastname" name="user_lastname"  disabled>
                                    </div>

                                    <div class="col-lg-4">
                                        <label>
                                            <span th:text="#{member_firstname}"></span>
                                        </label>
                                        <input type="text" class=" form-control user_firstname" id="user_firstname" name="user_firstname"  disabled>
                                    </div>

                                    <div class="col-lg-4">
                                        <label th:text="#{member_role}"></label>
                                        <select class="form-control select2" name="option" >
                                            <option th:value="'president'" th:text="#{member_role_president}"></option>
                                            <option th:value="'secretary'" th:text="#{member_role_secretary}"></option>
                                            <option th:value="'treasurer'" th:text="#{member_role_treasurer}"></option>
                                            <option th:value="'member'" th:text="#{member_role_member}"></option>
                                        </select>
                                    </div>

                                </div>


                            </div>

                        </div>

                    </div>

                    <br>
                    <br>
                    <!--Modal des cotisations-->
                    <div class="modal fade" id="cotisationModal" tabindex="-1" role="dialog"
                         aria-labelledby="cotisationModalLabel" aria-hidden="true">

                        <div th:insert="fragments/modal/fragment_add_modal ::
                                                fragment_add_modal (title='Ajouter une cotisation',
                                                methodUrl='/backend/association/'+__${association.id}__+'/members/cotisations',
                                                body = ~{ :: #modal_body})">

                            <div class="modal-body" id="modal_body">
                                <div class="row">

                                    <div class="col-lg-5">
                                        <label>
                                            <span th:text="#{member_lastname}"></span>
                                        </label>
                                        <input type="text" class=" form-control user_lastname" id="user_lastname" name="user_lastname"  disabled>
                                    </div>

                                    <div class="col-lg-7">
                                        <label>
                                            <span th:text="#{member_firstname}"></span>
                                        </label>
                                        <input type="text" class=" form-control user_firstname" id="user_firstname" name="user_firstname"  disabled>
                                    </div>

                                    <div class="col-lg-6">
                                        <label for="dateCota">Date de cotisation</label>
                                        <input type="date" id="dateCota" class="form-control"
                                               placeholder="Libellé"
                                               name="dateCota" required/>
                                    </div>

                                    <div class="form-group col-lg-6">
                                        <label>Mois</label>
                                        <select class="form-control" required id="mois" name="mois">
                                            <option th:text="Janvier" th:value="1"></option>
                                            <option th:text="Fevrier" th:value="2"></option>
                                            <option th:text="Mars" th:value="3"></option>
                                            <option th:text="Avril" th:value="4"></option>
                                            <option th:text="Mai" th:value="5"></option>
                                            <option th:text="Juin" th:value="6"></option>
                                            <option th:text="Juillet" th:value="7"></option>
                                            <option th:text="Aout" th:value="8"></option>
                                            <option th:text="Septembre" th:value="9"></option>
                                            <option th:text="Octobre" th:value="10"></option>
                                            <option th:text="Novembre" th:value="11"></option>
                                            <option th:text="Decembre" th:value="12"></option>
                                        </select>
                                    </div>

                                    <div class="col-md-12">
                                        <label for="montant">Montant</label>
                                        <input type="number" id="montant" min="0" class="form-control"
                                               name="montant" required/>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>

                </div>

                <!-- Footer ============================================= -->
                <th:block th:replace="fragments/fragment_footer"/>

            </div>

        </div>

        <!-- BEGIN PAGE LEVEL JS-->
        <script>
            $(document).ready(function () {
                $('#association').attr('class', 'active');
            });
        </script>
        <!-- END PAGE LEVEL JS-->

    </body>

</html>

<script type="application/javascript">

    function onUpdate(json) {
        var assoMember = jQuery.parseJSON(json.replace("'", "\\'"));
        $('.model-id').val(assoMember.id);
        $('.user_id').val(assoMember.id);
        $('.user_firstname').val(assoMember.firstname);
        $('.user_lastname').val(assoMember.lastname);
    }

</script>