<!DOCTYPE html>
    <html lang="en" xmlns:th="http://www.thymeleaf.org">

    <!--Header
    ============================================= -->
    <th:block th:replace="fragments/fragment_head('Home')" />

    <body>

        <!-- Loader ============================================= -->
        <th:block th:replace="fragments/fragment_loader" />

        <div id="app">

            <div class="main-wrapper main-wrapper-1">

                <!-- Navbar ============================================= -->
                <th:block th:replace="fragments/fragment_navbar" />

                <!-- Sidebar ============================================= -->
                <th:block th:replace="fragments/fragment_sidebar" />


                <!-- Main Content ============================================= -->
                <div class="main-content">

                    <section class="section">

                        <div class="row">
                            <div class="col-lg-12">

                                <div class="card">

                                    <div class="card-body">
                                        <div class="row">
                                            <div class="offset-1"></div>

                                            <div class="col-lg-2">
                                                <a th:href="@{/backend/association/__${association.id}__/members/add}" class="btn btn-primary"
                                                   th:text="#{association_list_page_table_header_Action_detail}"></a>
                                            </div>

                                        </div>

                                    </div>
                                </div>



                                <div class="card">
                                    <div class="card-header">
                                        <h4 th:text="#{association_member_list_page_table_header}"></h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table class="table table-striped" id="table-1">
                                                <thead>
                                                    <tr>
                                                        <th th:text="#{association_member_list_page_result_name}"></th>
                                                        <th th:text="#{association_member_list_page_result_username}"></th>
                                                        <th th:text="#{association_member_list_page_result_email}"></th>
                                                        <th th:text="#{association_member_list_page_result_phone}"></th>
                                                        <th th:text="#{association_member_list_page_result_action}"></th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                    <tr th:each="association_member : ${association_members}">

                                                        <td th:text="${association_member.user.firstname}"></td>

                                                        <td th:text="${association_member.user.username}"></td>

                                                        <td class="align-middle" th:text="${association_member.user.contact.email}"></td>

                                                        <td class="align-middle" th:text="${association_member.user.contact.mobile}"></td>

                                                        <td>
                                                            <a class="btn btn-warning btn-action mr-1" title="" th:data-original-title="#{table_update}" data-toggle="modal" data-target="#changeStatusModal"
                                                               th:data-entity="${stringHelper.clean(association_member.user.toJSON())}"
                                                               onclick="onUpdate(this.getAttribute('data-entity'));">
                                                                <i class="fas fa-pencil-alt"></i>
                                                            </a>
                                                            <a class="btn btn-primary btn-action mr-1" title="" th:data-original-title="#{table_contribute}">
                                                                <i class="fas fa-money-bill-wave-alt"></i>
                                                            </a>
                                                            <a class="btn btn-danger btn-action mr-1" title="" th:data-original-title="#{table_delete}">
                                                                <i class="fas fa-trash"></i>
                                                            </a>
                                                        </td>

                                                    </tr>
                                                </tbody>

                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>


                    </section>

                    <!-- Vertically Center -->
                    <div class="modal fade" id="changeStatusModal" tabindex="-1" role="dialog"
                         aria-labelledby="changeStatusModalTitle" aria-hidden="true">

                        <div th:insert="fragments/modal/fragment_add_modal ::
                                       fragment_add_modal(title='Change role in association',
                                       methodUrl='/backend/association/'+__${assoMember.id}__+'/members/add_member',
                                       body = ~{ :: #modal_body})">

                            <div class="modal-body" id="modal_body">
                                <p th:text="#{association_member_list_page_result_action_modal}"></p>
                                <p >okokoo</p>
                            </div>

                        </div>

                    </div>

                </div>

                <!-- Footer ============================================= -->
                <th:block th:replace="fragments/fragment_footer" />

            </div>

        </div>

    </body>

</html>

<script type="application/javascript">

    function onUpdate(json) {
        var assoMember = jQuery.parseJSON(json.replace("'", "\\'"));
        $('.model-id').val(assoMember.id);
    }

</script>