<div xmlns:th="http://www.thymeleaf.org" th:fragment="sidebar" class="sidebar" data-color="orange">
    <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
    <div class="logo">
        <a href="" class="simple-text logo-mini"> </a>
        <a href="" class="simple-text logo-normal">
            Coding Interview
        </a>
        <div class="navbar-minimize">
            <button id="minimizeSidebar" class="btn btn-outline-white btn-icon btn-round" >

            </button>
        </div>
    </div>
    <div class="sidebar-wrapper" id="sidebar-wrapper">
        <div class="user">
            <div class="photo">
                <img th:src="@{/assets/img/default-avatar.png}" alt="member_icon"/>
            </div>
            <div class="info">
                <a data-toggle="collapse" href="#collapseExample" class="collapsed" >
                <span th:text="${user.username}"></span><b class="caret"></b>
                </a>
                <div class="clearfix"></div>
                <div class="collapse" id="collapseExample">
                    <ul class="nav">


                        <li th:if="${user.service_provider}">
                           <a th:href="@{/backend/profile/edit-profile}">
                                <span class="sidebar-mini-icon">*</span>
                                <span class="sidebar-normal">Mon Profil</span>
                            </a>
                        </li>

                        <li>
                            <a th:href="@{/account/logout}">
                                <span class="sidebar-mini-icon">*</span>
                                <span class="sidebar-normal">Me Déconnecter</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <ul class="nav">
            <li >
                <a th:href="@{/backend/}">
                    <i class="now-ui-icons design_app"></i>
                    <p>Dashboard</p>
                </a>
            </li>

            <li th:if="${user.actuator}">
                <a th:href="@{/backend/service-providers/list}">
                    <i class="now-ui-icons design_app"></i>
                    <p>Prestataires</p>
                </a>
            </li>

            <li th:if="${user.actuator}" >
                <a th:href="@{/backend/clients/list-clients}">
                    <i class="now-ui-icons design_app"></i>
                    <p>Clients</p>
                </a>
            </li>

            <li th:if="${user.service_provider}" >
                <a th:href="@{/backend/ads/my-ads}">
                    <i class="now-ui-icons design_app"></i>
                    <p>Annonces</p>
                </a>
            </li>

            <li th:if="${user.client || user.actuator}">
                <a data-toggle="collapse" href="#navAds">
                    <i class="now-ui-icons design_app"></i>
                    <p>Annonces </p>
                </a>
                <div class="collapse" id="navAds">
                    <ul class="nav">
                        <li th:if="${user.client}" >
                            <a th:href="@{/backend/ads/add-ads}">
                                <span class="sidebar-mini-icon">*</span>
                                <span class="sidebar-normal">Ajouter une annonce</span>
                            </a>
                        </li>
                        <li >
                            <a th:href="@{/backend/ads/list-ads}">
                                <span class="sidebar-mini-icon">*</span>
                                <span class="sidebar-normal">Voir les annonces</span>
                            </a>
                        </li>

                    </ul>
                </div>
            </li>



            <li th:if="${user.actuator}" >
                <a th:href="@{/backend/settings/activity-sector}">
                    <i class="now-ui-icons ui-1_settings-gear-63"></i>
                    <p>Secteur d'activité</p>
                </a>
            </li>

        </ul>
    </div>
</div>