<div xmlns:th="http://www.thymeleaf.org" th:fragment="stylesheet">

  <!-- Template CSS -->
  <link rel="stylesheet" th:href="@{/assets/css/style.css}" />
  <link rel="stylesheet" th:href="@{/assets/css/components.css}" />

  <!-- General CSS Files -->
  <link rel="stylesheet" th:href="@{/assets/css/app.min.css}" />

  <!-- CSS Libraries -->
  <link rel="stylesheet" th:href="@{/assets/bundles/bootstrap-daterangepicker/daterangepicker.css}" />
  <link rel="stylesheet" th:href="@{/assets/bundles/bootstrap-social/bootstrap-social.css}" />
  <link rel="stylesheet" th:href="@{/assets/bundles/bootstrap-tagsinput/bootstrap-tagsinput.css}" />
  <link rel="stylesheet" th:href="@{/assets/bundles/bootstrap-timepicker/bootstrap-timepicker.css}" />
  <link rel="stylesheet" th:href="@{/assets/bundles/chocolat/chocolat.css}" />
  <link rel="stylesheet" th:href="@{/assets/bundles/codemirror/codemirror.css}" />
  <link rel="stylesheet" th:href="@{/assets/bundles/codemirror/duotone-dark.css}" />

  <!-- CSS Libraries ==> Datatables -->
  <link rel="stylesheet" th:href="@{/assets/bundles/datatables/datatables.min.css}" />

  <link rel="stylesheet" th:href="@{/assets/bundles/dropzonejs/dropzone.css}" />
  <link rel="stylesheet" th:href="@{/assets/bundles/flag-icon-css/flag-icon.min.css}" />

  <!-- CSS Libraries ==> Full calendar -->
  <link rel="stylesheet" th:href="@{/assets/bundles/fullcalendar/fullcalendar.min.css}" />

  <link rel="stylesheet" th:href="@{/assets/bundles/ionicons/ionicons.min.css}" />
  <link rel="stylesheet" th:href="@{/assets/bundles/izitoast/iziToast.min.css}" />

  <!-- CSS Libraries ==> Jquery -->
  <link rel="stylesheet" th:href="@{/assets/bundles/jquery-selectric/selectric.css}" />

  <!-- CSS Libraries ==> Morris -->
  <link rel="stylesheet" th:href="@{/assets/bundles/morris/morris.css}" />

  <!-- CSS Libraries ==> Owl carousel2 -->
  <link rel="stylesheet" th:href="@{/assets/bundles/owlcarousel2/dist/assets/owl.carousel.min.css}" />
  <link rel="stylesheet" th:href="@{/assets/bundles/owlcarousel2/dist/assets/owl.theme.default.min.css}" />

  <!-- CSS Libraries ==> Pretty checkbox -->
  <link rel="stylesheet" th:href="@{/assets/bundles/pretty-checkbox/pretty-checkbox.min.css}" />

  <!-- CSS Libraries ==> Prism -->
  <link rel="stylesheet" th:href="@{/assets/bundles/prism/prism.css}" />

  <!-- CSS Libraries ==> Select2 -->
  <link rel="stylesheet" th:href="@{/assets/bundles/select2/dist/css/select2.min.css}" />

  <!-- CSS Libraries ==> Summernote -->
  <link rel="stylesheet" th:href="@{/assets/bundles/summernote/summernote-bs4.css}" />

  <!-- CSS Libraries ==> Weather icons -->
  <link rel="stylesheet" th:href="@{/assets/bundles/weather-icon/css/weather-icons.min.css}" />
  <link rel="stylesheet" th:href="@{/assets/bundles/weather-icon/css/weather-icons-wind.min.css}" />

</div>