<div xmlns:th="http://www.thymeleaf.org" th:fragment="script">

  <!-- General JS Scripts -->
  <script th:src="@{/assets/js/app.min.js}"></script>

  <!-- Template JS File -->
  <script th:src="@{/assets/js/scripts.js}"></script>

  <!-- Page Specific JS File -->
  <script th:src="@{/assets/js/page/auth-register.js}"></script>
  <script th:src="@{/assets/js/page/calendar.js}"></script>
  <script th:src="@{/assets/js/page/chart-amchart.js}"></script>
  <script th:src="@{/assets/js/page/chart-apexcharts.js}"></script>
  <script th:src="@{/assets/js/page/chart-chartjs.js}"></script>
  <script th:src="@{/assets/js/page/chart-echarts.js}"></script>
  <script th:src="@{/assets/js/page/chart-morris.js}"></script>
  <script th:src="@{/assets/js/page/chat.js}"></script>
  <script th:src="@{/assets/js/page/ckeditor.js}"></script>
  <script th:src="@{/assets/js/page/contact.js}"></script>
  <script th:src="@{/assets/js/page/create-post.js}"></script>
  <script th:src="@{/assets/js/page/datatables.js}"></script>
  <script th:src="@{/assets/js/page/editable-table.js}"></script>
  <script th:src="@{/assets/js/page/form-wizard.js}"></script>
  <script th:src="@{/assets/js/page/forms-advanced-forms.js}"></script>
  <script th:src="@{/assets/js/page/index.js}"></script>
  <script th:src="@{/assets/js/page/index2.js}"></script>
  <script th:src="@{/assets/js/page/ion-icons.js}"></script>
  <script th:src="@{/assets/js/page/multiple-upload.js}"></script>
  <script th:src="@{/assets/js/page/portfolio.js}"></script>
  <script th:src="@{/assets/js/page/posts.js}"></script>
  <script th:src="@{/assets/js/page/sparkline.js}"></script>
  <script th:src="@{/assets/js/page/sweetalert.js}"></script>
  <script th:src="@{/assets/js/page/toastr.js}"></script>
  <script th:src="@{/assets/js/page/vector-map.js}"></script>
  <script th:src="@{/assets/js/page/widget.js}"></script>

  <!-- JS Libraries -->
  <script th:src="@{/assets/bundles/amcharts4/animated.js}"></script>
  <script th:src="@{/assets/bundles/amcharts4/charts.js}"></script>
  <script th:src="@{/assets/bundles/amcharts4/core.js}"></script>
  <script th:src="@{/assets/bundles/amcharts4/worldLow.js}"></script>
  <script th:src="@{/assets/bundles/apexcharts/apexcharts.min.js}"></script>
  <script th:src="@{/assets/bundles/bootstrap-daterangepicker/daterangepicker.js}"></script>
  <script th:src="@{/assets/bundles/bootstrap-tagsinput/bootstrap-tagsinput.min.js}"></script>
  <script th:src="@{/assets/bundles/bootstrap-timepicker/bootstrap-timepicker.min.js}"></script>
  <script th:src="@{/assets/bundles/chartjs/chart.min.js}"></script>
  <script th:src="@{/assets/bundles/chocolat/jquery.chocolat.min.js}"></script>
  <script th:src="@{/assets/bundles/ckeditor/ckeditor.js}"></script>
  <script th:src="@{/assets/bundles/cleave-js/cleave.min.js}"></script>
  <script th:src="@{/assets/bundles/codemirror/codemirror.js}"></script>

  <!-- JS Libraries ==> Datatables -->
  <script th:src="@{/assets/bundles/datatables/datatables.min.js}"></script>
  <script th:src="@{/assets/bundles/datatables/export-tables/buttons.flash.min.js}"></script>
  <script th:src="@{/assets/bundles/datatables/export-tables/buttons.print.min.js}"></script>
  <script th:src="@{/assets/bundles/datatables/export-tables/dataTables.buttons.min.js}"></script>
  <script th:src="@{/assets/bundles/datatables/export-tables/jszip.min.js}"></script>
  <script th:src="@{/assets/bundles/datatables/export-tables/pdfmake.min.js}"></script>
  <script th:src="@{/assets/bundles/datatables/export-tables/vfs_fonts.js}"></script>

  <script th:src="@{/assets/bundles/dropzonejs/min/dropzone.min.js}"></script>
  <script th:src="@{/assets/bundles/echart/echarts.js}"></script>
  <script th:src="@{/assets/bundles/editable-table/mindmup-editabletable.js}"></script>

  <!-- JS Libraries ==> Full calendar -->
  <script th:src="@{/assets/bundles/fullcalendar/fullcalendar.min.js}"></script>

  <script th:src="@{/assets/bundles/izitoast/iziToast.min.js}"></script>

  <!-- JS Libraries ==> Jquery -->
  <script th:src="@{/assets/bundles/jquery-pwstrength/jquery.pwstrength.min.js}"></script>
  <script th:src="@{/assets/bundles/jquery-selectric/jquery.selectric.min.js}"></script>
  <script th:src="@{/assets/bundles/jquery-steps/jquery.steps.min.js}"></script>
  <script th:src="@{/assets/bundles/jquery-ui/jquery-ui.min.js}"></script>
  <script th:src="@{/assets/bundles/jquery-validation/jquery.validate.min.js}"></script>
  <script th:src="@{/assets/bundles/upload-preview/jquery.uploadPreview.min.js}"></script>
  <script th:src="@{/assets/bundles/jquery.sparkline.min.js}"></script>

  <!-- JS Libraries ==> Morris -->
  <script th:src="@{/assets/bundles/morris/morris.min.js}"></script>
  <script th:src="@{/assets/bundles/morris/raphael-min.js}"></script>

  <!-- JS Libraries ==> Owl carousel2 -->
  <script th:src="@{/assets/bundles/owlcarousel2/dist/owl.carousel.min.js}"></script>

  <!-- JS Libraries ==> Prism -->
  <script th:src="@{/assets/bundles/prism/prism.js}"></script>

  <!-- JS Libraries ==> Select2 -->
  <script th:src="@{/assets/bundles/select2/dist/js/select2.full.min.js}"></script>

  <!-- JS Libraries ==> Summernote -->
  <script th:src="@{/assets/bundles/summernote/summernote-bs4.min.js}"></script>

  <!-- JS Libraries ==> Sweetalert -->
  <script th:src="@{/assets/bundles/sweetalert/sweetalert.min.js}"></script>

  <script th:src="@{/assets/bundles/gmaps.js}"></script>

</div>