<div xmlns:th="http://www.thymeleaf.org" th:fragment="frontend_header">

    <!-- navigation -->
    <div class="navigation sticky-effect">
        <nav class="navbar navbar-default">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" th:href="@{/frontend-home}">
                        <img th:src="@{/assets/frontend/images/logo.png}" alt="">
                    </a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a th:href="@{/frontend-home}" title="Home">Accueil</a>
                        </li>
                        <li>
                            <a th:href="@{/frontend-contact-us}" title="Contact us">Nous contacter</a>
                        </li>
                        <!--
                        <li>
                            <a th:href="@{/frontend-sign-up}" title="Register">S'inscrire</a>
                        </li>
                        -->
                        <li>
                            <a th:href="@{/account/login}" title="Log in">Se connecter</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </div>
    <!-- / navigation -->

</div>