<div xmlns:th="http://www.thymeleaf.org" th:fragment="frontend_header">

    <!-- New template navigation -->

    <!-- Preloader area start here -->
    <div id="loader" class="loader">
        <div class="spinner"></div>
    </div>
    <!--End preloader here -->

    <!--Full width header Start-->
    <div class="full-width-header">

        <!--
            --- Toolbar Start ---
        <div class="toolbar-area hidden-md">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <div class="toolbar-contact">
                            <ul>
                                <li><i class="flaticon-email"></i><a href="mailto:info@yourwebsite.com">support@rstheme.com</a></li>
                                <li><i class="flaticon-call"></i><a href="tel:+123456789">(+123) 456789</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="toolbar-sl-share">
                            <ul>
                                <li class="opening"> <i class="flaticon-clock"></i> Mon - Fri: 9:00 am - 06.00pm / Closed on Weekends</li>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        -->

        <!--Header Start-->
        <header id="rs-header" class="rs-header">
            <!-- Menu Start -->
            <div class="menu-area menu-sticky">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2">
                            <div class="logo-area">
                                <a th:href="@{/}"><img th:src="@{/assets/img/logo_fond_blanc.png}" alt="logo"></a>
                            </div>
                        </div>
                        <div class="col-lg-10 text-right">
                            <div class="rs-menu-area">
                                <div class="main-menu pl-4 pr-2">
                                    <div class="mobile-menu">
                                        <a class="rs-menu-toggle">
                                            <i class="fa fa-bars"></i>
                                        </a>
                                    </div>
                                    <nav class="rs-menu">
                                        <ul class="nav-menu">
                                            <li th:class="${(currentLink=='/') ? 'current-menu-item' : ''}">
                                                <a th:href="@{/}">Accueil</a>
                                            </li>

                                            <li th:class="${(currentLink=='frontend-how-it-works') ? 'current-menu-item' : ''}">
                                                <a th:href="@{/frontend-how-it-works}">Comment ça marche ?</a>
                                            </li>

                                            <li th:class="${(currentLink=='frontend-faq') ? 'current-menu-item' : ''}">
                                                <a th:href="@{/frontend-faq}">FAQ</a>
                                            </li>

                                            <li th:class="${(currentLink=='frontend-contact-us') ? 'current-menu-item' : ''}">
                                                <a th:href="@{/frontend-contact-us}">Contact</a>
                                            </li>

                                            <li th:unless="${user != null}" th:class="${(currentLink=='login') ? 'current-menu-item' : ''}">
                                                <a th:href="@{/account/login}">Se connecter</a>
                                            </li>

                                            <li th:unless="${user != null}" th:class="${(currentLink=='register') ? 'current-menu-item' : ''}">
                                                <a th:href="@{/account/register}">S'inscrire</a>
                                            </li>

                                            <li th:if="${user != null}">
                                                <a th:href="@{/account/logout}">Se déconnecter</a>
                                            </li>
                                        </ul>
                                        <!-- //.nav-menu -->
                                    </nav>
                                </div> <!-- //.main-menu -->
                                <div class="expand-btn-inner">
                                    <ul>
                                        <li class="search-parent">
                                            <a class="hidden-xs rs-search" data-target=".search-modal" data-toggle="modal" href="#">
                                                <i class="flaticon-search"></i>
                                            </a>
                                        </li>
                                        <li th:if="${user != null}" class="header-navbar-rht nav-item dropdown has-arrow logged-item">
                                            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
                                                <span class="user-img">
                                                    <img th:if="${user.photo != ''}" th:src="@{'/__${rootLocation}__/members/__${user.photo}__'}" alt="User Image">
                                                    <img th:unless="${user.photo != ''}" th:src="@{/assets/img/user.png}" alt="User profile img">
                                                </span>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <div class="user-header">
                                                    <div class="avatar avatar-sm mb-20 text-center">
                                                        <img th:if="${user.photo != ''}" th:src="@{'/__${rootLocation}__/members/__${user.photo}__'}" alt="User Image" class="avatar-img rounded-circle">
                                                        <img th:unless="${user.photo != ''}" th:src="@{/assets/img/user.png}" alt="User Image" class="avatar-img rounded-circle">
                                                    </div>
                                                    <div class="user-text text-center">
                                                        <span class="mb-10" th:if="${user != null}" th:text="${'Welcome '+user.username}"></span>
                                                        <span class="mb-10" th:unless="${user != null}">Welcome</span>
                                                        <div class="pt-5">
                                                            <i th:if="${user.actuator}">(ACTUATOR)</i>
                                                            <i th:if="${user.superAdmin}">(SUPER ADMIN)</i>
                                                            <i th:if="${user.admin}">(ADMIN)</i>
                                                            <i th:if="${user.basicUser}">(UTILISATEUR)</i>
                                                            <i th:if="${user.member}">(MEMBRE)</i>
                                                            <i th:if="${user.associationAdmin}">(ASSOCIATION ADMIN)</i>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a class="dropdown-item" th:href="@{/backend/profile/myProfile}">Paramètre du profil</a>
                                                <a class="dropdown-item" th:href="@{/account/logout}">Se déconnecter</a>
                                            </div>
                                        </li>
                                        <li>
                                            <a id="nav-expander" class="humburger nav-expander" href="#">
                                                <span class="dot1"></span>
                                                <span class="dot2"></span>
                                                <span class="dot3"></span>
                                                <span class="dot4"></span>
                                                <span class="dot5"></span>
                                                <span class="dot6"></span>
                                                <span class="dot7"></span>
                                                <span class="dot8"></span>
                                                <span class="dot9"></span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Menu End -->

            <!-- Canvas Menu start -->
            <nav class="right_menu_togle hidden-md">
                <div class="close-btn">
                    <span id="nav-close" class="humburger">
                            <span class="dot1"></span>
                            <span class="dot2"></span>
                            <span class="dot3"></span>
                            <span class="dot4"></span>
                            <span class="dot5"></span>
                            <span class="dot6"></span>
                            <span class="dot7"></span>
                            <span class="dot8"></span>
                            <span class="dot9"></span>
                        </span>
                </div>
                <div class="canvas-logo">
                    <a th:href="@{/}">
                        <img th:src="@{/assets/img/logo_fond_blanc.png}" alt="logo">
                    </a>
                </div>
                <div class="offcanvas-text">
                    <p>
                        Une plateforme numérique Simple, Fiable, et Sécurisé pour le renforcement de la solidarité financière.
                    </p>
                </div>
                <div class="canvas-contact">
                    <ul class="contact">
                        <li><i class="flaticon-location"></i>Cocody Corniche, ABIDJAN, Côte d'Ivoire</li>
                        <li><i class="flaticon-call"></i>(+225)27-27-27-27-27</li>
                        <li><i class="flaticon-email"></i><a href="mailto:lungcash@support.com">lungcash@support.com</a></li>
                    </ul>
                    <ul class="social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </nav>
            <!-- Canvas Menu end -->
        </header>
        <!--Header End-->
    </div>
    <!--Full width header End-->

    <!-- End new template navigation -->


    <!--
        --- Old template navigation ---
        <div class="navigation sticky-effect">
        <nav class="navbar navbar-default">
            <div class="container">
                -- Brand and toggle get grouped for better mobile display -
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" th:href="@{/frontend-home}">
                        <img th:src="@{/assets/frontend/images/logo.png}" alt="">
                    </a>
                </div>
                -- Collect the nav links, forms, and other content for toggling -
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a th:href="@{/frontend-home}" title="Home">Accueil</a>
                        </li>
                        <li>
                            <a th:href="@{/frontend-contact-us}" title="Contact us">Nous contacter</a>
                        </li>
                        <li>
                            <a th:href="@{/frontend-sign-up}" title="Register">S'inscrire</a>
                        </li>
                        <li>
                            <a th:href="@{/account/login}" title="Log in">Se connecter</a>
                        </li>
                    </ul>
                </div>
                -- /.navbar-collapse -
            </div>
            -- /.container-fluid --
        </nav>
    </div>

    -->

</div>