<footer xmlns:th="http://www.thymeleaf.org" th:fragment="frontend_footer">

    <!-- footer section -->
    <div class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4 footer-widget"> <!-- footer widget -->
                    <img src="images/logo.png" alt="">
                    <p>Financial Advisor is a leading advise company. Our trademark is financial services that combine a high degree of professional with a deep understanding of our clients’ needs.</p>
                    <p>Lacus donec aliquam sodales orci eget convallis mauris tempor id leo massa euismod id nisl eu molestie erat.</p>
                </div>
                <!-- /.footer widget -->
                <div class="col-md-3 footer-widget"><!-- footer widget -->
                    <h3> Contact us</h3>
                    <ul class="listnone contact">
                        <li><i class="fa fa-map-marker"></i>
                            <address>
                                Street Name &amp; Number, Town, Postcode/Zip
                            </address>
                        </li>
                        <li><i class="fa fa-phone"></i> +00 (123) 456 7890<br>
                            +00 (123) 456 7890</li>
                        <li><i class="fa fa-envelope-o"></i> info@financialadvisor.com</li>
                    </ul>
                </div>
                <div class="col-md-2 footer-widget"><!-- footer widget -->
                    <h3> Services</h3>
                    <ul class="listnone">
                        <li><a href="service-investment.html" title="Investment Planning">Investment Planning</a></li>
                        <li><a href="service-financial-management.html" title="Financial Planing">Financial Planing</a></li>
                        <li><a href="service-tax-planning.html" title="Tax Planning">Tax Planning</a></li>
                        <li><a href="service-retirement.html" title="Retirement">Retirement</a></li>
                        <li><a href="service-estate-planning.html" title="Estate Planning">Estate Planning</a></li>
                        <li><a href="service-life-events.html" title="Life Events">Life Events</a></li>
                    </ul>
                </div>
                <!-- /.footer widget -->
                <div class="col-md-3 footer-widget"><!-- footer widget -->
                    <h3>Free Financial Tips &amp; Hints</h3>
                    <p>Would you like to receive an award winning <strong>FREE quarterly financial tips </strong> and hints newsletter? </p>
                    <form class="newsletter-widget" action="http://jituchauhan.com/insight/green-version/newsletter.php" method="post">
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <label for="newsletteremail" class="sr-only">Email address</label>
                                <input type="email" class="form-control" id="newsletteremail" name="newsletteremail" placeholder="Email Address" required>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
                <!-- /.footer widget -->
            </div>
        </div>
    </div>

    <!-- tiny footer -->
    <div class="tiny-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    © 2021 TONTINE by B2I GROUP. All rights reserved.

                </div>
            </div>
        </div>
    </div>
    <!-- /.tiny footer -->

</footer>