<footer xmlns:th="http://www.thymeleaf.org" th:fragment="frontend_footer">

    <!-- footer section -->
    <div class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-md-4 footer-widget"> <!-- footer widget -->
                    <img th:src="@{/assets/frontend/images/logo.png}" alt="">
                    <p>
                        LUNGCASH is a leading advise company. Lacus donec aliquam sodales orci eget convallis mauris tempor id leo massa euismod id nisl eu molestie erat.
                    </p>
                    <!--
                    <p>Lacus donec aliquam sodales orci eget convallis mauris tempor id leo massa euismod id nisl eu molestie erat.</p>
                    -->
                </div>
                <!-- /.footer widget -->
                <div class="col-md-3 footer-widget"><!-- footer widget -->
                    <h3>Nous contacter</h3>
                    <ul class="listnone contact">
                        <li><i class="fa fa-map-marker"></i>
                            <address>
                                Cocody Centre &amp; ABIDJAN, Côte d'ivoire, 225
                            </address>
                        </li>
                        <li>
                            <i class="fa fa-phone"></i> +00 (123) 456 7890
                        </li>
                        <li>
                            <i class="fa fa-envelope-o"></i> info@lungcashwebapp.com
                        </li>
                    </ul>
                </div>
                <div class="col-md-2 footer-widget"><!-- footer widget -->
                    <h3>Liens</h3>
                    <ul class="listnone">
                        <li><a th:href="@{/frontend-home}" title="Home">Accueil</a></li>
                        <li><a th:href="@{/frontend-contact-us}" title="Contact Us">Nous contacter</a></li>
                        <li><a th:href="@{/account/register}" title="Register">S'inscrire</a></li>
                    </ul>
                </div>
                <!-- /.footer widget -->
                <div class="col-md-3 footer-widget"><!-- footer widget -->
                    <h3>Souscrire à notre newsletter</h3>
                    <!--
                    <p>Would you like to receive an award winning <strong>FREE quarterly financial tips </strong> and hints newsletter? </p>
                    -->
                    <form class="newsletter-widget" action="" method="post">
                        <div class="row">
                            <div class="col-md-12 form-group">
                                <label for="newsletteremail" class="sr-only">Adresse mail</label>
                                <input type="email" class="form-control" id="newsletteremail" name="newsletteremail" placeholder="Entrer votre adresse mail" required>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Souscrire</button>
                    </form>
                </div>
                <!-- /.footer widget -->
            </div>
        </div>
    </div>

    <!-- tiny footer -->
    <div class="tiny-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    © 2021 LUNGCASH by B2I GROUP. All rights reserved.

                </div>
            </div>
        </div>
    </div>
    <!-- /.tiny footer -->

</footer>