<footer xmlns:th="http://www.thymeleaf.org" th:fragment="frontend_footer">

    <!-- New template footer -->

    <!-- Footer Start -->
    <footer id="rs-footer" class="rs-footer">
        <div class="container">
            <div class="footer-newsletter">
                <div class="row y-middle">
                    <div class="col-md-6 sm-mb-26">
                        <h3 class="title white-color mb-0">Souscriver à notre newsletter</h3>
                    </div>
                    <div class="col-md-6 text-right">
                        <form class="newsletter-form">
                            <input type="email" name="email" placeholder="Votre adresse mail" required="">
                            <button type="submit"><i class="fa fa-paper-plane"></i></button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="footer-content pt-35 pb-40 md-pb-64 sm-pt-48">
                <div class="row">
                    <div class="col-lg-4 col-md-12 col-sm-12 footer-widget md-mb-39">
                        <div class="about-widget pr-15">
                            <div class="logo-part">
                                <a th:href="@{/}"><img th:src="@{/assets/img/logo_fond_blanc.png}" alt="Footer Logo"></a>
                            </div>
                            <p class="desc">We denounce with righteous indignation in and dislike men who are so beguiled and to demo realized by the charms of pleasure moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound.</p>
                            <div class="btn-part">
                                <a class="readon" th:href="@{/frontend-how-it-works}">En savoir plus</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-12 col-sm-12 md-mb-32 footer-widget">
                        <h4 class="widget-title">Informations utiles</h4>
                        <ul class="address-widget pr-40">
                            <li>
                                <i class="flaticon-location"></i>
                                <div class="desc">Cocody Corniche, ABIDJAN, Côte d'Ivoire</div>
                            </li>
                            <li>
                                <i class="flaticon-call"></i>
                                <div class="desc">
                                    <div class="desc">(+225)27-27-27-27-27</div>
                                </div>
                            </li>
                            <li>
                                <i class="flaticon-email"></i>
                                <div class="desc">
                                    <a href="mailto:lungcash@support.com">lungcash@support.com</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3 col-md-12 col-sm-12 footer-widget">
                        <h4 class="widget-title">Liens utiles</h4>
                        <div class="footer-post">
                            <ul class="">
                                <li>
                                    <a th:href="@{/}" target="_blank">Accueil</a>
                                </li>
                                <li>
                                    <a th:href="@{/frontend-how-it-works}" target="_blank">Comment ça marche ?</a>
                                </li>
                                <li>
                                    <a th:href="@{/frontend-faq}" target="_blank">FAQ</a>
                                </li>
                                <li>
                                    <a th:href="@{/frontend-contact-us}" target="_blank">Nous contacter</a>
                                </li>
                                <li>
                                    <a th:href="@{/account/register}" target="_blank">S'inscrire</a>
                                </li>
                                <li>
                                    <a th:href="@{/account/login}" target="_blank">Se connecter</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="row y-middle">
                    <div class="col-lg-6 col-md-8 sm-mb-21">
                        <div class="copyright">
                            <p>© Copyright 2021 B2I GROUP. All Rights Reserved.</p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-4 text-right sm-text-center">
                        <ul class="footer-social">
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer End -->

    <!-- start scrollUp  -->
    <div id="scrollUp">
        <i class="fa fa-angle-up"></i>
    </div>
    <!-- End scrollUp  -->

    <!-- Search Modal Start -->
    <div aria-hidden="true" class="modal fade search-modal" role="dialog" tabindex="-1">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span class="flaticon-cross"></span>
        </button>
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="search-block clearfix">
                    <form>
                        <div class="form-group">
                            <input class="form-control" placeholder="Search Here..." type="text" required="">
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Search Modal End -->

    <!-- End new template footer -->


    <!--
        --- Old template footer ---

        <div class="footer-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 footer-widget">
                        <img th:src="@{/assets/frontend/images/logo.png}" alt="">
                        <p>
                            LUNGCASH is a leading advise company. Lacus donec aliquam sodales orci eget convallis mauris tempor id leo massa euismod id nisl eu molestie erat.
                        </p>
                    </div>
                    <div class="col-md-3 footer-widget">
                        <h3>Nous contacter</h3>
                        <ul class="listnone contact">
                            <li><i class="fa fa-map-marker"></i>
                                <address>
                                    Cocody Centre &amp; ABIDJAN, Côte d'ivoire, 225
                                </address>
                            </li>
                            <li>
                                <i class="fa fa-phone"></i> +00 (123) 456 7890
                            </li>
                            <li>
                                <i class="fa fa-envelope-o"></i> info@lungcashwebapp.com
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-2 footer-widget">
                        <h3>Liens</h3>
                        <ul class="listnone">
                            <li><a th:href="@{/frontend-home}" title="Home">Accueil</a></li>
                            <li><a th:href="@{/frontend-contact-us}" title="Contact Us">Nous contacter</a></li>
                            <li><a th:href="@{/account/register}" title="Register">S'inscrire</a></li>
                        </ul>
                    </div>

                    <div class="col-md-3 footer-widget">
                        <h3>Souscrire à notre newsletter</h3>
                        <form class="newsletter-widget" action="" method="post">
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <label for="newsletteremail" class="sr-only">Adresse mail</label>
                                    <input type="email" class="form-control" id="newsletteremail" name="newsletteremail" placeholder="Entrer votre adresse mail" required>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Souscrire</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="tiny-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        © 2021 LUNGCASH by B2I GROUP. All rights reserved.
                    </div>
                </div>
            </div>
        </div>

    -->

</footer>