<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="theme-one">

    <!--Head ============================================= -->
    <th:block th:replace="fragments/frontend_fragment_head('Home')" />

    <body id="FaqPage">

    <!-- Header ============================================= -->
    <th:block th:replace="fragments/frontend_fragment_header" />


    <!-- Content ============================================= -->

    <div class="main-content">
        <!-- Breadcrumbs Section Start -->
        <div class="rs-breadcrumbs bg-2">
            <div class="container">
                <div class="content-part text-center pt-160 pb-160">
                    <h1 class="breadcrumbs-title white-color mb-0">FAQ</h1>
                </div>
            </div>
        </div>
        <!-- Breadcrumbs Section End -->

        <!-- Faq Section Start -->
        <div class="rs-faq inner pt-92 md-pt-72 pb-100 md-pb-80">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 pr-55 md-pr-15 md-mb-30">
                        <div class="sec-title mb-43">
                            <div class="sub-title primary">Vous avez des questions ?</div>
                            <h2 class="title mb-16">N'hésitez pas à nous contacter</h2>
                            <!--
                            <div class="desc">Creation timelines for the standard lorem ipsum passage vary, with some citing the 15th century and others the business data.</div>
                            -->
                        </div>
                        <div id="accordion" class="accordion">
                            <div class="card">
                                <div class="card-header">
                                    <a class="card-link" data-toggle="collapse" href="#collapseOne">Comment ça marche ?</a>
                                </div>
                                <div id="collapseOne" class="collapse show" data-parent="#accordion">
                                    <div class="card-body">Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Impress clients new and existing with elite construction brochures. Impress clients new and existing with elite construction.</div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">Comment intégrer une association ?</a>
                                </div>
                                <div id="collapseTwo" class="collapse" data-parent="#accordion">
                                    <div class="card-body">Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Impress clients new and existing with elite construction brochures. Impress clients new and existing with elite construction.</div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">Comment participer à une tontine ?</a>
                                </div>
                                <div id="collapseThree" class="collapse" data-parent="#accordion">
                                    <div class="card-body">Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Impress clients new and existing with elite construction brochures. Impress clients new and existing with elite construction.</div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseFour">
                                        Comment récupérer la cagnotte d'une tontine ?
                                    </a>
                                </div>
                                <div id="collapseFour" class="collapse" data-parent="#accordion">
                                    <div class="card-body">Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Impress clients new and existing with elite construction brochures. Impress clients new and existing with elite construction.</div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-header">
                                    <a class="collapsed card-link" data-toggle="collapse" href="#collapseFive">
                                        Comment Bénéficier d'un financement ?
                                    </a>
                                </div>
                                <div id="collapseFive" class="collapse" data-parent="#accordion">
                                    <div class="card-body">Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy foster collaborative thinking to further the overall value proposition. Impress clients new and existing with elite construction brochures. Impress clients new and existing with elite construction.</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <form class="sidebar-form mt-8">
                            <h3 class="title white-color mb-26">Vous avez d'autres questions ?</h3>
                            <input type="text" name="name" placeholder="Nom et prénoms" required>
                            <input type="email" name="email" placeholder="Adresse mail" required>
                            <textarea placeholder="Entrer votre question ici"></textarea>
                            <button class="readon" type="submit">Envoyer</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Faq Section End -->

        <!-- Contact Section Start -->
        <div class="rs-contact style1 gray-bg pt-50 pb-50 md-pt-30 md-pb-30">
            <div class="container">
                <div class="white-bg">
                    <div class="row">
                        <div class="col-lg-8 form-part">
                            <div class="sec-title mb-35 md-mb-30">
                                <h2 class="title mb-0">Ecrivez-nous !</h2>
                            </div>
                            <div id="form-messages"></div>
                            <form class="contact-form" th:method="post" th:action="@{/frontend-contact-us}">
                                <div class="row">
                                    <div class="col-md-6 mb-30">
                                        <div class="common-control">
                                            <input type="text" name="fullname" placeholder="Nom et prénoms" required="">
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-30">
                                        <div class="common-control">
                                            <input type="email" name="email" placeholder="Adresse mail" required="">
                                        </div>
                                    </div>
                                    <div class="col-md-12 mb-30">
                                        <div class="common-control">
                                            <textarea name="message" placeholder="Votre message" required=""></textarea>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="submit-btn">
                                            <button type="submit" class="readon">Envoyer</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-lg-4 pl-0 md-pl-pr-15 md-order-first">
                            <div class="contact-info">
                                <h3 class="title">Informations</h3>
                                <div class="info-wrap mb-20">
                                    <div class="icon-part">
                                        <i class="flaticon-location"></i>
                                    </div>
                                    <div class="content-part">
                                        <h4>localisation</h4>
                                        Cocody Corniche, ABIDJAN, Côte d'Ivoire.
                                    </div>
                                </div>
                                <div class="info-wrap mb-20">
                                    <div class="icon-part">
                                        <i class="flaticon-call"></i>
                                    </div>
                                    <div class="content-part">
                                        <h4>Telephone</h4>
                                        <p>P: <a href="tel:+1235558888">(+123) 555 8888</a></p>
                                    </div>
                                </div>
                                <div class="info-wrap mb-20">
                                    <div class="icon-part">
                                        <i class="flaticon-email"></i>
                                    </div>
                                    <div class="content-part">
                                        <h4>Ecrivez-nous</h4>
                                        <p>E: <a href="mailto:support@rstheme.com">lungcash@support.com</a></p>
                                    </div>
                                </div>
                                <!--
                                <div class="info-wrap">
                                    <div class="icon-part">
                                        <i class="flaticon-clock"></i>
                                    </div>
                                    <div class="content-part">
                                        <h4>Opening Hours</h4>
                                        <p>Mon-Fri: 10:00-18:00</p>
                                        <p>Sat-Sun: 10:00-14:00</p>
                                    </div>
                                </div>
                                -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contact Section End -->
    </div>

    <!-- Footer ============================================= -->
    <th:block th:replace="fragments/frontend_fragment_footer" />

    <!-- Script ============================================= -->
    <th:block th:replace="fragments/frontend_fragment_script" />


    </body>

</html>