<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <!--Head
    ============================================= -->
    <th:block th:replace="fragments/frontend_fragment_head('Sign Up')" />

    <body id="RegisterPage">

        <!-- Header ============================================= -->
        <!-- navigation -->
        <th:block th:replace="fragments/frontend_fragment_header" />
        <!-- / navigation -->


        <!-- Content ============================================= -->

        <!-- page-header -->
        <div class="page-header">
            <div class="container">
                <div class="row page-section">
                    <div class="col-md-5 page-description">
                        <h1 class="page-title">
                            TONTINE,
                            <span class="text-transform-initial font-weight-500 font-size-25">La tontine en ligne</span>
                        </h1>
                        <p>
                            Accessible sur smartphone, tablette ou pc, TONTINE.com vous permet de participer à des tontines via des associations en toute autonomie et sécurité. Gagnez du temps pour vous concentrer sur l’essentiel !
                        </p>
                    </div>
                    <!-- quote block -->
                    <div class="col-md-7 page-quote">
                        <a href="#" class="btn btn-third btn-lg scroll-to-target" data-target="#signup-content">Cliquer ici pour vous inscrire</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.page-header -->

        <!-- main container -->
        <div id="signup-content" class="main-container">
            <div class="container d-flex flex-row justify-content-center">
                <div class="signup-content">
                    <div class="signup-form col-xs-12 col-md-7">
                        <h2>Formulaire d'inscription</h2>
                        <form id="form" class="row" method="post" th:action="@{/frontend-sign-up}">
                            <!-- Text input-->
                            <div class="form-group col-xs-12 col-sm-12 col-md-6">
                                <label class="control-label" for="fname">
                                    Nom <span>*</span>
                                </label>
                                <input id="fname" name="firstname" type="text" placeholder="Entrer votre nom" class="form-control input-md" required>
                            </div>
                            <!-- Text input-->
                            <div class="form-group col-xs-12 col-sm-12 col-md-6">
                                <label class="control-label" for="lname">
                                    Prénoms <span>*</span>
                                </label>
                                <input id="lname" name="lastname" type="text" placeholder="Entrer votre/vos prénom(s)" class="form-control input-md" required>
                            </div>
                            <!-- Text input-->
                            <div class="form-group col-xs-12 col-sm-12 col-md-6">
                                <label class="control-label" for="username">
                                    Username <span>*</span>
                                </label>
                                <input id="username" name="username" type="text" placeholder="Entrer username ou login pour votre connexion" class="form-control input-md" required>
                            </div>
                            <!-- Text input-->
                            <div class="form-group col-xs-12 col-sm-12 col-md-6">
                                <label class="control-label" for="email">
                                    Adresse mail <span>*</span>
                                </label>
                                <input id="email" name="email" type="text" placeholder="Entrer votre adresse mail" class="form-control input-md" required>
                            </div>
                            <!-- Text input-->
                            <div class="form-group col-xs-12 col-sm-12 col-md-6">
                                <label class="control-label" for="mdp">
                                    Mot de passe <span>*</span>
                                </label>
                                <input id="mdp" name="mdp" type="password" placeholder="Entrer votre mot de passe" class="form-control input-md" required>
                            </div>
                            <!-- Text input-->
                            <div class="form-group col-xs-12 col-sm-12 col-md-6">
                                <label class="control-label" for="phone">
                                    Contact <span>*</span>
                                </label>
                                <input id="phone" name="phone" type="text" placeholder="Entrer votre numéro de téléphone" class="form-control input-md" required>
                            </div>
                            <div class="form-group col-xs-12 col-sm-12 col-md-12">
                                <p style="margin-bottom:0px;">Déjà enregistré? <a th:href="@{/account/login}">Connectez-vous</a></p>
                            </div>
                            <div class="form-group col-xs-12 col-sm-12 col-md-12 mt-10 d-flex flex-row justify-content-start">
                                <button type="submit" class="btn btn-default">S'inscrire</button>
                            </div>
                        </form>
                    </div>
                    <div class="signup-image col-xs-12 col-md-5 d-flex flex-row justify-content-end">
                        <img th:src="@{/assets/frontend/images/signup-image.jpg}" alt="sing up image">
                    </div>
                </div>
            </div>
        </div>
        <!-- /.main container -->

        <!-- Footer ============================================= -->
        <th:block th:replace="fragments/frontend_fragment_footer" />

        <!-- Script ============================================= -->
        <th:block th:replace="fragments/frontend_fragment_script" />

    </body>

</html>