<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="theme-one">

<!--Head
============================================= -->
<th:block th:replace="fragments/frontend_fragment_head('Register')" />

<body id="LoginPage">

<!-- Header ============================================= -->
<th:block th:replace="fragments/frontend_fragment_header" />


<!-- Content ============================================= -->
<div class="main-content">
  <div class="rs-contact gray-bg pt-60 pb-50 md-pt-80 md-pb-80">
    <div class="container">
      <div class="row d-flex flex-row justify-content-center">
        <div class="login-form white-bg col-xs-10 col-sm-7 col-md-5 col-lg-5">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <h3 class="text-center color-primary-color">Connexion</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
              <form method="POST" th:action="@{/account/login}">
                <div class="form-group col-xs-12 col-sm-12 col-md-12">
                  <label class="control-label" for="username">
                    <span th:text="#{member_username}"></span> *
                  </label>
                  <input id="username" name="username" type="text" placeholder="Entrer votre nom" class="form-control input-md" required>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-12">
                  <label class="control-label" for="password">
                    <span th:text="#{member_password}"></span> *
                  </label>
                  <input id="password" name="password" type="password" placeholder="Entrer votre mot de passe" class="form-control input-md" required>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-12">
                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" name="remember" class="custom-control-input" id="remember-me">
                    <label class="custom-control-label" for="remember-me" th:text="#{member_remember_me}"></label>
                  </div>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-12">
                  <p style="margin-bottom:0px;">
                    Pas encore enregistré? <a th:href="@{/account/register}" class="color-primary-color">Inscrivez-vous</a>
                  </p>
                </div>
                <div class="form-group col-xs-12 col-sm-12 col-md-12 mt-10 d-flex flex-row justify-content-center">
                  <button type="submit" class="btn btn-default readon">Se Connecter</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Footer ============================================= -->
<th:block th:replace="fragments/frontend_fragment_footer" />

<!-- Script ============================================= -->
<th:block th:replace="fragments/frontend_fragment_script" />


<script>
  function ChangeLanguage(lang) {

    //alert("The URL of this page is: " + window.location.href+"/?lang="+lang);
    var newUrl = window.location.pathname+"?lang="+lang
    window.location.replace(newUrl);

  }
</script>

</body>

</html>