<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" class="theme-one">

    <!--Head
    ============================================= -->
    <th:block th:replace="fragments/frontend_fragment_head('Register')" />

    <body id="RegisterPage">

        <!-- Header ============================================= -->
        <th:block th:replace="fragments/frontend_fragment_header" />


        <!-- Content ============================================= -->
        <div class="main-content">
            <!-- Breadcrumbs Section Start -->
            <div class="rs-breadcrumbs bg-6">
                <div class="container">
                    <div class="content-part text-center">
                        <h1 class="breadcrumbs-title white-color mb-0">Inscription</h1>
                    </div>
                </div>
            </div>
            <!-- Breadcrumbs Section End -->

            <!-- Register Section Start -->
            <div class="rs-contact gray-bg pt-80 pb-60 md-pt-30 md-pb-30">
                <div class="container">
                    <div class="content white-bg">
                        <div class="row">
                            <div class="col-lg-8 form-part">
                                <!--
                                <div class="sec-title mb-35 md-mb-30">
                                    <h2 class="title mb-0">Ecrivez-nous</h2>
                                </div>
                                -->
                                <form th:method="POST" th:action="@{/account/register}" enctype="multipart/form-data" class="contact-form">
                                    <div class="row">
                                        <!-- Text input-->
                                        <input id="img" name="img" type="file" class="form-control" hidden>
                                        <div class="form-group col-xs-12 col-sm-12 col-md-6">
                                            <label class="control-label" for="fname">
                                                <span th:text="#{member_lastname}"></span> *
                                            </label>
                                            <input id="fname" name="lastname" type="text" placeholder="Entrer votre nom" class="form-control input-md" required>
                                        </div>
                                        <!-- Text input-->
                                        <div class="form-group col-xs-12 col-sm-12 col-md-6">
                                            <label class="control-label" for="lname">
                                                <span th:text="#{member_firstname}"></span> *
                                            </label>
                                            <input id="lname" name="firstname" type="text" placeholder="Entrer votre/vos prénom(s)" class="form-control input-md" autofocus required>
                                        </div>
                                        <!-- Text input-->
                                        <div class="form-group col-xs-12 col-sm-12 col-md-6">
                                            <label class="control-label" for="username">
                                                <span th:text="#{member_username}"></span> *
                                            </label>
                                            <input id="username" name="username" type="text" placeholder="Entrer username ou login pour votre connexion" class="form-control input-md" required>
                                        </div>
                                        <!-- Text input-->
                                        <div class="form-group col-xs-12 col-sm-12 col-md-6">
                                            <label class="control-label" for="email">
                                                <span th:text="#{member_email}"></span> *
                                            </label>
                                            <input id="email" name="email" type="text" placeholder="Entrer votre adresse mail" class="form-control input-md" required>
                                        </div>
                                        <!-- Text input-->
                                        <div class="form-group col-xs-12 col-sm-12 col-md-6">
                                            <label class="control-label" for="phone">
                                                <span th:text="#{member_phone}"></span> *
                                            </label>
                                            <input id="phone" name="tel" type="text" placeholder="Entrer votre numéro de téléphone" class="form-control input-md" required>
                                        </div>
                                        <!-- Text input -->
                                        <div class="form-group col-xs-12 col-sm-12 col-md-6">
                                            <label class="control-label" for="naissance">
                                                <span th:text="#{member_birthday}"></span> *
                                            </label>
                                            <input id="naissance" name="dateNaissance" type="date" class="form-control input-md" required>
                                        </div>
                                        <!-- Text input-->
                                        <div class="form-group col-xs-12 col-sm-12 col-md-6">
                                            <label class="control-label" for="mdp">
                                                <span th:text="#{member_password}"></span> *
                                            </label>
                                            <input id="mdp" name="password" type="password" placeholder="Entrer votre mot de passe" class="form-control input-md" required>
                                        </div>
                                        <!-- Text input -->
                                        <div class="form-group col-xs-12 col-sm-12 col-md-6">
                                            <label class="control-label" for="cmdp">
                                                <span th:text="#{member_password_confirm}"></span> *
                                            </label>
                                            <input id="cmdp" name="password2" type="password" placeholder="Confirmer votre mot de passe" class="form-control input-md" required>
                                        </div>
                                        <div class="form-group col-xs-12 col-sm-12 col-md-12">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" name="agree" class="custom-control-input" id="agree">
                                                <label class="custom-control-label" for="agree" th:text="#{member_accept_terms}"></label>
                                            </div>
                                        </div>
                                        <div class="form-group col-xs-12 col-sm-12 col-md-12">
                                            <p style="margin-bottom:0px;">
                                                Déjà enregistré? <a th:href="@{/account/login}" class="color-primary-color">Connectez-vous</a>
                                            </p>
                                        </div>
                                        <div class="form-group col-xs-12 col-sm-12 col-md-12 mt-10 d-flex flex-row justify-content-start">
                                            <button type="submit" class="btn btn-default readon">S'inscrire</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="col-lg-4 pl-0 md-pl-pr-15 pt-100 img-part">
                                <img th:src="@{/assets/img/signup-image.jpeg}" alt="sing up image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Register Section End -->
        </div>

        <!-- Footer ============================================= -->
        <th:block th:replace="fragments/frontend_fragment_footer" />

        <!-- Script ============================================= -->
        <th:block th:replace="fragments/frontend_fragment_script" />

        <script>
            function ChangeLanguage(lang) {

                //alert("The URL of this page is: " + window.location.href+"/?lang="+lang);
                var newUrl = window.location.pathname+"?lang="+lang
                window.location.replace(newUrl);

            }
        </script>

    </body>

</html>