<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--Header
============================================= -->
<th:block th:replace="fragments/fragment_head('Add user')" />

<!--<body onload="ChangeLanguage()">-->
<body>

<!-- Loader ============================================= -->
<th:block th:replace="fragments/fragment_loader" />

<div id="app">

    <div class="main-wrapper main-wrapper-1">

        <!-- Navbar ============================================= -->
        <th:block th:replace="fragments/fragment_navbar" />

        <!-- Sidebar ============================================= -->
        <th:block th:replace="fragments/fragment_sidebar" />


        <!-- Main Content ============================================= -->
        <div class="main-content">

            <section class="section">

                <div class="section-body">

                    <div class="row">

                        <div class="col-12 col-md-12 col-lg-12">

                            <div class="card">

                                <div class="card-header">
                                    <h3>
                                        <span th:text="#{sidebar_users_create}"></span>
                                    </h3>
                                </div>

                                <form method="post" th:action="@{/backend/users/create}">

                                    <div class="card-body">

                                        <input type="hidden" value="-1" name="id">

                                        <div class="form-row">

                                            <div class="form-group col-md-4">
                                                <label>
                                                    <span th:text="#{users_add_page_name}"></span>
                                                </label>
                                                <input required type="text" class="form-control" name="name" th:placeholder="#{users_add_page_name}">
                                            </div>

                                            <div class="form-group col-md-4">
                                                <label>
                                                    <span th:text="#{users_add_page_firstname}"></span>
                                                </label>
                                                <input required type="text" class="form-control" name="firstname" th:placeholder="#{users_add_page_firstname}">
                                            </div>

                                            <div class="form-group col-md-4">
                                                <label>
                                                    <span th:text="#{users_add_page_email}"></span>
                                                </label>
                                                <input required type="email" max="20"  class="form-control" name="email" th:placeholder="#{users_add_page_email}">
                                            </div>

                                        </div>

                                        <br>
                                        <br>

                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label>Username</label>
                                                <input type="text" required name="username" id="username" class="form-control"></input>
                                            </div>

                                            <div class="form-group col-md-6">
                                                <label>Password</label>
                                                <input type="text" required  name="password" id="password" class="form-control"></input>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="card-footer">
                                        <button class="btn btn-primary">
                                            <span th:text="#{association_add_page_button_save}"></span>
                                        </button>
                                    </div>

                                </form>

                            </div>
                        </div>

                    </div>

                </div>

            </section>

        </div>

        <!-- Footer ============================================= -->
        <th:block th:replace="fragments/fragment_footer" />

    </div>

</div>

<!-- Scripts ============================================= -->
<script>
    $(document).ready(function () {
        $('#users').attr('class', 'active');
        $('#users-add').attr('class', 'active');
    });
</script>

</body>

</html>