<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--Header
============================================= -->
<th:block th:replace="fragments/fragment_head('Periodicity detail')"/>

<body>

<!-- Loader ============================================= -->
<th:block th:replace="fragments/fragment_loader"/>

<div id="app">

    <div class="main-wrapper main-wrapper-1">

        <!-- Navbar ============================================= -->
        <th:block th:replace="fragments/fragment_navbar"/>

        <!-- Sidebar ============================================= -->
        <th:block th:replace="fragments/fragment_sidebar"/>


        <!-- Main Content ============================================= -->
        <div class="main-content">

            <section class="section">

                <div class="section-body">

                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                            <div class="card card-statistic-1">
                                <div class="card-icon l-bg-green">
                                    <i class="fas fa-dollar-sign"></i>
                                </div>
                                <div class="card-wrap">
                                    <div class="padding-20">
                                        <div class="text-right">
                                            <h3 class="font-light mb-0">
                                                <i class="ti-arrow-up text-success" th:text="${periodicity.biddingAmount}"></i>
                                            </h3>
                                            <span class="text-muted"
                                                  th:text="#{periodicity_tontine_contribution_close_actual_interest_amount}"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                            <div class="card card-statistic-1">
                                <div class="card-icon l-bg-green">
                                    <i class="fas fa-calendar-check"></i>
                                </div>
                                <div class="card-wrap">
                                    <div class="padding-20">
                                        <div class="text-right">
                                            <h3 class="font-light mb-0">
                                                <i class="ti-arrow-up text-success" th:text="${#dates.format(periodicity.biddingDeadline, 'dd-MM-yyyy')}" ></i>
                                            </h3>
                                            <span class="text-muted"
                                                  th:text="#{periodicity_tontine_contribution_last_delay_bidding_amount}"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                            <div class="card card-statistic-1">
                                <div class="card-icon l-bg-green">
                                    <i class="fas fa-calendar-check"></i>
                                </div>
                                <div class="card-wrap">
                                    <div class="padding-20">
                                        <div class="text-right">
                                            <h3 class="font-light mb-0">
                                                <i class="ti-arrow-up text-success" th:text="${periodicity.tontine.tontineGlobalAmountEstimated}" ></i>
                                            </h3>
                                            <span class="text-muted"
                                                  th:text="#{periodicity_tontine_contribution_close_actual_bidding_amount}"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-sm-4">

                        <div class="col-12 col-md-12 col-lg-12">

                            <a class="btn btn-primary btn-action mr-1" title="" th:text="#{periodicity_tontine_contribution_close}" th:if="${periodicity.biddingState == 'OPENED'}" th:data-original-title="#{table_contribute}" type="button" data-toggle="modal" data-target="#closePeriodicityModal"
                               th:data-entity="${stringHelper.clean(periodicity.toJSON())}" onclick="onUpdatePeriodicity(this.getAttribute('data-entity'));">
                            </a>

                            <br>
                            <br>

                            <div class="card">
                                <div class="padding-20">

                                    <ul class="nav nav-tabs" id="myTab2" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="member-tab2" data-toggle="tab" href="#members"
                                               role="tab"
                                               aria-selected="true"
                                               th:text="#{periodicity_tontine_list_members_contributions}"></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="request-tab2" data-toggle="tab" href="#requests"
                                               role="tab"
                                               aria-selected="false"
                                               th:text="#{periodicity_tontine_list_members_bidding}"></a>
                                        </li>
                                    </ul>

                                    <div class="tab-content tab-bordered" id="myTab3Content">

                                        <!-- Tontine members list -->
                                        <div class="tab-pane fade show active" id="members" role="tabpanel" aria-labelledby="member-tab2">
                                            <div class="table-responsive">
                                                <table class="table table-striped" id="table-1">
                                                    <thead>
                                                    <tr>
                                                        <th th:text="#{periodicity_tontine_table_list_members_name}"></th>
                                                        <th th:text="#{periodicity_tontine_table_list_have_contribute}"></th>
                                                        <th th:text="#{periodicity_tontine_table_list_actions}"></th>
                                                    </tr>
                                                    </thead>

                                                    <tbody>
                                                    <tr th:each="tontineMember : ${tontinePeriodicityMembers}">

                                                        <td th:text="${tontineMember.member.firstname} +' '+ ${tontineMember.member.lastname}"></td>

                                                        <td th:if="${tontineMember.contributed == true}" th:text="#{periodicity_tontine_contribution_done}"></td>
                                                        <td th:if="${tontineMember.contributed != true}" th:text="#{periodicity_tontine_contribution_not_done}"></td>

                                                        <td>
                                                            <a th:if="${tontineMember.contributed == false}" class="btn btn-primary btn-action mr-1" title="" th:data-original-title="#{table_contribute}" type="button" data-toggle="modal" data-target="#addCotisationModal"
                                                               th:data-entity="${stringHelper.clean(tontineMember.member.toJSON())}" onclick="onUpdate(this.getAttribute('data-entity'));">
                                                                <i class="fas fa-money-bill"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    </tbody>

                                                </table>
                                            </div>
                                        </div>

                                        <div class="tab-pane fade show" id="requests" role="tabpanel" aria-labelledby="request-tab2">
                                            <div class="table-responsive">
                                                <table class="table table-striped" id="table-2">
                                                    <thead>
                                                    <tr>
                                                        <th th:text="#{periodicity_tontine_table_list_members_name}"></th>
                                                        <th th:text="#{periodicity_tontine_table_list_member_offer}"></th>
                                                        <th th:text="#{periodicity_tontine_table_list_actions}"></th>
                                                    </tr>
                                                    </thead>

                                                    <tbody>
                                                    <tr th:each="tontineBidding : ${tontinePeriodicityBidding}">

                                                        <td th:text="${tontineBidding.member.firstname} +' '+ ${tontineBidding.member.lastname}"></td>

                                                        <td th:text="${tontineBidding.interestByValue}" ></td>

                                                        <td>
                                                            <a th:if="${tontineBidding.biddingApproved == false}" class="btn btn-primary btn-action mr-1" title="" th:data-original-title="#{table_approve_offer}" type="button" data-toggle="modal" data-target="#approveOfferModalitle"
                                                               th:data-entity="${stringHelper.clean(tontineBidding.toJSON())}" onclick="onApproveOffer(this.getAttribute('data-entity'));">
                                                                <i class="fas fa-check"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    </tbody>

                                                </table>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </section>

            <!-- Cotisation Member in periodicity -->
            <div class="modal fade" id="addCotisationModal" tabindex="-1" role="dialog"
                 aria-labelledby="addCotisationModalitle" aria-hidden="true">

                <div th:insert="fragments/modal/fragment_add_modal ::
                                                   fragment_add_modal(title='Contribute for periodicity',
                                                   methodUrl='/backend/periodicity/details/'+__${periodicity_id}__+'/contribute',
                                                   body = ~{ :: #modal_body})">

                    <div class="modal-body" id="modal_body">
                        <p th:text="#{periodicity_tontine_member_want_contribute}"></p>

                        <div class="row">

                            <div class="col-lg-5">
                                <label>
                                    <span th:text="#{member_lastname}"></span>
                                </label>
                                <input type="text" class=" form-control user_lastname" id="user_lastname" name="user_lastname"  disabled>
                            </div>

                            <div class="col-lg-7">
                                <label>
                                    <span th:text="#{member_firstname}"></span>
                                </label>
                                <input type="text" class=" form-control user_firstname" id="user_firstname" name="user_firstname"  disabled>
                            </div>

                            <div class="col-lg-6">
                                <label>
                                    <span th:text="#{member_date}"></span>
                                </label>
                                <input type="date" class=" form-control" id="contributionDate" name="contributionDate">
                            </div>

                            <div class="col-lg-6">
                                <label>
                                    <span th:text="#{member_paiement_type}"></span>
                                </label>
                                <select class=" form-control" name="payementMethod" id="payementMethod">
                                    <option value="ESPECES">ESPECES</option>
                                    <option value="VIREMENT">VIREMENT</option>
                                    <option value="CHEQUE">CHEQUE</option>
                                </select>
                            </div>

                            <div class="col-lg-6">
                                <label>
                                    <span th:text="#{profile_tontine_amount}"></span>
                                </label>
                                <input type="number" class=" form-control amount" id="amount" name="amount">
                            </div>

                        </div>

                    </div>

                </div>
            </div>

            <!-- Cotisation Member in periodicity -->
            <div class="modal fade" id="closePeriodicityModal" tabindex="-1" role="dialog"
                 aria-labelledby="closePeriodicityModalitle" aria-hidden="true">

                <div th:insert="fragments/modal/fragment_add_modal ::
                                                   fragment_add_modal(title='Close  periodicity',
                                                   methodUrl='/backend/periodicity/details/'+__${periodicity_id}__+'/close',
                                                   body = ~{ :: #modal_bodyClose})">

                    <div class="modal-body" id="modal_bodyClose">
                        <p th:text="#{periodicity_tontine_contribution_close}"></p>

                        <div class="row">

                            <div class="col-lg-6">
                                <label>
                                    <span th:text="#{periodicity_tontine_contribution_close_date}"></span>
                                </label>
                                <input type="date" class=" form-control" id="deadlineDate" name="deadlineDate">
                            </div>

                            <div class="col-lg-6">
                                <label>
                                    <span th:text="#{periodicity_tontine_contribution_close_typeProposition}"></span>
                                </label>
                                <select class=" form-control" name="type" id="type">
                                    <option value="POURCENTAGE">POURCENTAGE</option>
                                    <option value="EN VALEUR">EN VALEUR</option>
                                </select>
                            </div>

                            <div class="col-lg-6">
                                <label>
                                    <span th:text="#{periodicity_tontine_contribution_close_bidding_amount}"></span>
                                </label>
                                <input type="number" min="0" class=" form-control" id="biddingAmount" name="biddingAmount">
                            </div>

                        </div>

                    </div>

                </div>
            </div>

            <!-- Validate offer for periodicity -->
            <div class="modal fade" id="validateOfferModal" tabindex="-1" role="dialog"
                 aria-labelledby="approveOfferModalitle" aria-hidden="true">

                <div th:insert="fragments/modal/fragment_add_modal ::
                                                   fragment_add_modal(title='Approve this offer',
                                                   methodUrl='/backend/periodicity/details/'+__${periodicity_id}__+'/approveOffer',
                                                   body = ~{ :: #modal_bodyApproveOffer})">

                    <div class="modal-body" id="modal_bodyApproveOffer">
                        <p th:text="#{periodicity_tontine_approve_interest_member_offer}"></p>

                        <div class="row">

                            <!--<div class="col-lg-5">
                                <label>
                                    <span th:text="#{member_lastname}"></span>
                                </label>
                                <input type="text" class=" form-control user_lastname" id="user_lastname" name="user_lastname"  disabled>
                            </div>

                            <div class="col-lg-7">
                                <label>
                                    <span th:text="#{member_firstname}"></span>
                                </label>
                                <input type="text" class=" form-control user_firstname" id="user_firstname" name="user_firstname"  disabled>
                            </div>-->

                            <div class="col-lg-12">
                                <label>
                                    <span th:text="#{member_firstname}"></span>
                                </label>
                                <input type="number" class=" form-control amount" id="amount" name="amount" disabled>
                            </div>

                        </div>

                    </div>

                </div>
            </div>


        </div>

        <!-- Footer ============================================= -->
        <th:block th:replace="fragments/fragment_footer"/>

    </div>

</div>

<!-- Scripts ============================================= -->
<script>
    $(document).ready(function () {
        $('#association').attr('class', 'active');
    });
</script>

<script type="application/javascript">
    function onUpdate(json) {
        var member = jQuery.parseJSON(json.replace("'", "\\'"));
        $('.model-id').val(member.id);
        $('.user_firstname').val(member.firstname);
        $('.user_lastname').val(member.lastname);
    }

    function onApproveOffer(json) {
        var offer = jQuery.parseJSON(json.replace("'", "\\'"));
        $('.model-id').val(offer.id);
        $('.amount').val(offer.interestByValue);
        //$('.user_firstname').val(offer.member.firstname);
        //$('.user_lastname').val(offer.member.lastname);
    }

    function onValidateOffer(json) {
        var offer = jQuery.parseJSON(json.replace("'", "\\'"));
        $('.model-id').val(offer.id);
        $('.amount').val(offer.interestByValue);
        //$('.user_firstname').val(offer.member.firstname);
        //$('.user_lastname').val(offer.member.lastname);
    }


</script>

</body>

</html>