<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--Header
============================================= -->
<th:block th:replace="fragments/fragment_head('Periodicity detail')"/>

<body>

<!-- Loader ============================================= -->
<th:block th:replace="fragments/fragment_loader"/>

<div id="app">

    <div class="main-wrapper main-wrapper-1">

        <!-- Navbar ============================================= -->
        <th:block th:replace="fragments/fragment_navbar"/>

        <!-- Sidebar ============================================= -->
        <th:block th:replace="fragments/fragment_sidebar"/>


        <!-- Main Content ============================================= -->
        <div class="main-content">

            <section class="section">

                <div class="section-body">

                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                            <div class="card card-statistic-1">
                                <div class="card-icon l-bg-green">
                                    <i class="fas fa-dollar-sign"></i>
                                </div>
                                <div class="card-wrap">
                                    <div class="padding-20">
                                        <div class="text-right">
                                            <h3 class="font-light mb-0">
                                                <i class="ti-arrow-up text-success"></i> 524
                                            </h3>
                                            <span class="text-muted"
                                                  th:text="#{association_tontine_detail_page_participantNum}"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                            <div class="card card-statistic-1">
                                <div class="card-icon l-bg-red">
                                    <i class="fas fa-chart-line"></i>
                                </div>
                                <div class="card-wrap">
                                    <div class="padding-20">
                                        <div class="text-right">
                                            <h3 class="font-light mb-0">
                                                <i class="ti-arrow-up text-success"></i> 785
                                            </h3>
                                            <span class="text-muted"
                                                  th:text="#{association_tontine_detail_page_amount}"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-sm-4">

                        <div class="col-12 col-md-12 col-lg-12">
                            <div class="col-lg-8" th:if="${connectedUser == 'actuator' || connectedUser == 'PDG'}">
                                <a class="btn btn-primary" type="button" data-toggle="modal" data-target="#addMemberModal"
                                   th:data-entity="${stringHelper.clean(tontine.toJSON())}"
                                   onclick="onUpdate(this.getAttribute('data-entity'));"
                                   th:text="#{association_list_page_add_member}"></a>
                            </div><br>

                            <div class="card">
                                <div class="padding-20">

                                    <ul class="nav nav-tabs" id="myTab2" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link active" id="member-tab2" data-toggle="tab" href="#members"
                                               role="tab"
                                               aria-selected="true"
                                               th:text="#{periodicity_tontine_list_members_contributions}"></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="request-tab2" data-toggle="tab" href="#requests"
                                               role="tab"
                                               aria-selected="false"
                                               th:text="#{periodicity_tontine_list_members_bidding}"></a>
                                        </li>
                                    </ul>

                                    <div class="tab-content tab-bordered" id="myTab3Content">

                                        <!-- Tontine members list -->
                                        <div class="tab-pane fade show active" id="members" role="tabpanel" aria-labelledby="member-tab2">
                                            <div class="table-responsive">
                                                <table class="table table-striped" id="table-1">
                                                    <thead>
                                                    <tr>
                                                        <th th:text="#{periodicity_tontine_table_list_members_name}"></th>
                                                        <th th:text="#{periodicity_tontine_table_list_have_contribute}"></th>
                                                        <th th:text="#{periodicity_tontine_table_list_actions}"></th>
                                                    </tr>
                                                    </thead>

                                                    <tbody>
                                                    <tr th:each="tontineMember : ${tontinePeriodicityMembers}">

                                                        <td th:text="${tontineMember.beneficiary.firstname} +' '+ ${tontineMember.beneficiary.lastname}"></td>

                                                        <td></td>

                                                        <td>
                                                            <a class="btn btn-primary btn-action mr-1" title="" th:data-original-title="#{table_contribute}" type="button" data-toggle="modal" data-target="#addCotisationModal"
                                                               th:data-entity="${stringHelper.clean(tontineMember.beneficiary.toJSON())}" onclick="onUpdate(this.getAttribute('data-entity'));">
                                                                <i class="fas fa-money-bill"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    </tbody>

                                                </table>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </section>

            <!-- Add member to tontine -->
            <div class="modal fade" id="addCotisationModal" tabindex="-1" role="dialog"
                 aria-labelledby="addCotisationModalitle" aria-hidden="true">

                <div th:insert="fragments/modal/fragment_add_modal ::
                                                   fragment_add_modal(title='Contribute for periodicity',
                                                   methodUrl='/periodicity/details/'+__${periodicity_id}__,
                                                   body = ~{ :: #modal_body})">

                    <div class="modal-body" id="modal_body">
                        <p th:text="#{periodicity_tontine_member_want_contribute}"></p>

                        <div class="row">

                            <div class="col-lg-4">
                                <label>
                                    <span th:text="#{member_lastname}"></span>
                                </label>
                                <input type="text" class=" form-control user_lastname" id="user_lastname" name="user_lastname"  disabled>
                            </div>

                            <div class="col-lg-4">
                                <label>
                                    <span th:text="#{member_firstname}"></span>
                                </label>
                                <input type="text" class=" form-control user_firstname" id="user_firstname" name="user_firstname"  disabled>
                            </div>

                        </div>

                    </div>

                </div>
            </div>


        </div>

        <!-- Footer ============================================= -->
        <th:block th:replace="fragments/fragment_footer"/>

    </div>

</div>

<!-- Scripts ============================================= -->
<script>
    $(document).ready(function () {
        $('#association').attr('class', 'active');
    });
</script>

<script type="application/javascript">
    function onUpdate(json) {
        var member = jQuery.parseJSON(json.replace("'", "\\'"));
        $('.model-id').val(member.id);
        $('.user_firstname').val(member.firstname);
        $('.user_lastname').val(member.lastname);
    }

</script>

</body>

</html>