<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--Header
============================================= -->
<th:block th:replace="fragments/fragment_head('Home')" />

<body>

<!-- Loader ============================================= -->
<th:block th:replace="fragments/fragment_loader" />

<div id="app">

  <div class="main-wrapper main-wrapper-1">

    <!-- Navbar ============================================= -->
    <th:block th:replace="fragments/fragment_navbar" />

    <!-- Sidebar ============================================= -->
    <th:block th:replace="fragments/fragment_sidebar" />


    <!-- Main Content ============================================= -->
    <div class="main-content">

      <section class="section">

        <div class="section-body">

          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h4>Associations list</h4>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-striped" id="table-1">
                      <thead>
                        <tr>
                          <th class="text-center">#</th>
                          <th>Name</th>
                          <th>Acronym</th>
                          <th>Creation date</th>
                          <th>Status</th>
                          <th>Action</th>
                        </tr>
                      </thead>

                      <tbody>
                        <tr th:each="association : ${associations}">

                          <td th:text="${association.id}"></td>

                          <td th:text="${association.name}"></td>

                          <td class="align-middle" th:text="${association.acronym}"></td>

                          <td class="text-center">2018-01-20</td>

                          <td class="text-center">
                            <div class="badge badge-success badge-shadow">Completed</div>
                          </td>

                          <td class="text-center"><a href="#" class="btn btn-primary">Detail</a></td>

                        </tr>
                      </tbody>

                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </section>

    </div>

    <!-- Footer ============================================= -->
    <th:block th:replace="fragments/fragment_footer" />

  </div>

</div>

<!-- Scripts ============================================= -->
<th:block th:replace="fragments/fragment_script :: script"/>

</body>

</html>